@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

body {
  min-width: 375px;
}

.navbar-section {
  background-color: #FFFFFF;
  z-index: 100;
}
.navbar-section .blue-bar {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}
body.dark .navbar-section .blue-bar {
  background-color: #000000;
}
.navbar-section .navbar-container {
  display: flex;
}
body.dark .navbar-section .navbar-container {
  background-color: #37383C;
}
.navbar-section .navbar-container .home-img-container {
  margin: 29px 0px 17px 22px;
  width: 80%;
}
.navbar-section .navbar-container .home-img-container .home-img {
  height: 49px;
  width: 56px;
}
body.dark .navbar-section .navbar-container .home-img-container .home-img #home-GIFOS-logo {
  content: url("../../assets/logo-mobile-modo-noct.svg");
}
.navbar-section .navbar-container .menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.navbar-section .navbar-container .menu-container #menu-drop {
  display: none;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .label-menu .menu-checker .btn-burguer {
  display: none;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .label-menu .menu-checker .btn-burguerClose {
  display: block;
  width: 15px;
  margin-left: 0px;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .list-menu-container {
  visibility: visible;
}
.navbar-section .navbar-container .menu-container .label-menu {
  display: flex;
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker {
  width: 15px;
  cursor: pointer;
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker .btn-burguer {
  width: 100%;
}
body.dark .navbar-section .navbar-container .menu-container .label-menu .menu-checker .btn-burguer {
  content: url(../../assets/burger-modo-noct.svg);
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker .btn-burguerClose {
  display: none;
  height: 30px;
  margin-top: -8px;
  margin-left: -8px;
}
body.dark .navbar-section .navbar-container .menu-container .label-menu .menu-checker .btn-burguerClose {
  content: url(../../assets/close-modo-noct.svg);
}
.navbar-section .navbar-container .menu-container .input-container {
  display: none;
  background-color: #FFFFFF;
  border-radius: 25px;
  border: 2px solid #572EE5;
  padding: 0px 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 651px;
  max-width: 551px;
}
.navbar-section .navbar-container .menu-container .input-container .first-row {
  display: flex;
  align-items: center;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .lookup-searchBtn,
.navbar-section .navbar-container .menu-container .input-container .first-row .lookup-open-suggestion,
.navbar-section .navbar-container .menu-container .input-container .first-row .clear-input {
  margin: 5px 10px 5px 5px;
  width: 13px;
  height: 13px;
  object-fit: cover;
  cursor: pointer;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .lookup-searchBtn {
  order: 1;
  visibility: hidden;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .input-search {
  order: 2;
  margin: 0px;
  width: calc(100% - 40px);
  display: flex;
  height: 35px;
  outline: none;
  color: #6B7989;
  background-color: #FFFFFF;
  font-family: "Roboto";
  font-size: 14px;
  border: hidden;
  cursor: pointer;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .input-search:focus {
  color: #000000;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .lookup-open-suggestion {
  order: 3;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .clear-input {
  order: 4;
  width: 10px;
  height: 10px;
  display: none;
}
.navbar-section .navbar-container .menu-container .input-container .suggestion-division {
  display: none;
}
.navbar-section .navbar-container .menu-container .input-container .sugerencias-container {
  margin: 0px;
}
.navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion {
  display: none;
  height: 30px;
  align-items: center;
  width: 100%;
  font-family: "Roboto";
  font-size: 14px;
  cursor: pointer;
  color: #9CAFC3;
  line-height: 19px;
}
.navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion .lookup-suggestion {
  display: flex;
  width: 12px;
  height: 12px;
  margin-left: 10px;
}
.navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion .lookup-suggestion .lookup-suggestion-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion span {
  margin-left: 10px;
}
.navbar-section .navbar-container .menu-container .list-menu-container {
  z-index: 600;
  visibility: hidden;
  position: absolute;
  padding-top: 7px;
  top: 95px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 46, 229, 0.9);
}
body.dark .navbar-section .navbar-container .menu-container .list-menu-container {
  background-color: #000000;
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li {
  margin: 30px auto;
  display: block;
  font-family: "Montserrat";
  line-height: 19px;
  font-size: 15px;
  text-align: center;
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-link {
  display: inline;
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img {
  display: none;
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span {
  color: #FFFFFF;
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 2px solid rgba(87, 46, 229, 0.1);
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
  border-bottom: 2px solid #50E3C2;
}
body.dark .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
  border-bottom: 2px solid #FFFFFF;
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  width: 41px;
  height: 0.1px;
  margin-top: 35px;
  left: calc(50% - 20.5px);
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu:hover span {
  border-bottom: 2px solid #9CAFC3;
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu:active {
  color: #9CAFC3;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-section {
    position: sticky;
    top: 0;
  }
  .navbar-section .navbar-container {
    display: flex;
  }
  .navbar-section .navbar-container .home-img-container {
    margin: 20px 0px 17px 60px;
    width: 20%;
  }
  .navbar-section .navbar-container .home-img-container .home-img {
    height: 49px;
    width: 56px;
  }
  .navbar-section .navbar-container .home-img-container .home-img #home-GIFOS-logo {
    content: url("../../assets/logo-desktop.svg");
  }
  .navbar-section .navbar-container .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .navbar-section .navbar-container .menu-container .label-menu {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container {
    z-index: 600;
    visibility: visible;
    position: relative;
    padding-top: 7px;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
  }
  body.dark .navbar-section .navbar-container .menu-container .list-menu-container {
    background-color: #37383C;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  body.dark .navbar-section .navbar-container .menu-container .list-menu-container .list-menu {
    background-color: #37383C;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li {
    margin: 30px;
    font-family: "Montserrat";
    line-height: 19px;
    font-size: 15px;
    text-align: center;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span {
    color: #572EE5;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 2px solid #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  body.dark .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span {
    color: #FFFFFF;
    border-bottom: 2px solid #37383C;
  }
  body.dark .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
    border-bottom: 2px solid #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-link {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img {
    display: inline;
    margin: -15px 40px -15px -15px;
  }
  body.dark .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img {
    content: url("../../assets/CTA-crear-gifo-modo-noc.svg");
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:hover {
    content: url("../../assets/CTA-crear-gifo-hover.svg");
  }
  body.dark .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:hover {
    content: url("../../assets/CTA-crear-gifo-hover-modo-noc.svg");
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:active {
    content: url("../../assets/CTA-crear-gifo-active.svg");
  }
  body.dark .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:active {
    content: url("../../assets/CTA-crear-gifo-active-modo-noc.svg");
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 41px;
    height: 0.1px;
    margin-top: 35px;
    left: calc(50% - 20.5px);
  }
  body.dark .navbar-section .navbar-container .menu-container .list-menu-container .link-menu::after {
    background-color: #37383C;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:hover span {
    border-bottom: 2px solid #9CAFC3;
  }
  body.dark .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:hover span {
    border-bottom: 2px solid #37383C;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:active {
    color: #9CAFC3;
    text-decoration: none;
  }
}
@media (min-width: 1440px) {
  .navbar-section {
    position: sticky;
    top: 0;
  }
  .navbar-section .navbar-container {
    display: flex;
  }
  .navbar-section .navbar-container .home-img-container {
    margin: 20px 0px 17px 60px;
    width: 20%;
  }
  .navbar-section .navbar-container .home-img-container .home-img {
    height: 49px;
    width: 56px;
  }
  .navbar-section .navbar-container .home-img-container .home-img #home-GIFOS-logo {
    content: url("../../assets/logo-desktop.svg");
  }
  .navbar-section .navbar-container .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .navbar-section .navbar-container .menu-container .label-menu {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .input-container {
    display: none;
    position: absolute;
    top: 25px;
    right: unset;
    left: 343px;
    z-index: 400;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 2px solid #572EE5;
    padding: 0px 20px;
    margin: 0 auto;
    width: 90%;
    max-width: 334px;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .lookup-searchBtn,
.navbar-section .navbar-container .menu-container .input-container .first-row .lookup-open-suggestion,
.navbar-section .navbar-container .menu-container .input-container .first-row .clear-input {
    margin: 5px 10px 5px 5px;
    width: 13px;
    height: 13px;
    object-fit: cover;
    cursor: pointer;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .lookup-searchBtn {
    order: 1;
    visibility: hidden;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .input-search {
    order: 2;
    margin: 0px;
    width: calc(100% - 10px);
    display: flex;
    height: 35px;
    outline: none;
    color: #6B7989;
    background-color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    border: hidden;
    cursor: pointer;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .input-search:focus {
    color: #000000;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .lookup-open-suggestion {
    order: 3;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .clear-input {
    order: 4;
    width: 10px;
    height: 10px;
    display: none;
  }
  .navbar-section .navbar-container .menu-container .input-container .suggestion-division {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .input-container .sugerencias-container {
    margin: 0px;
  }
  .navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion {
    display: flex;
    height: 30px;
    align-items: center;
    width: 100%;
    font-family: "Roboto";
    font-size: 14px;
    cursor: pointer;
    color: #9CAFC3;
    line-height: 19px;
  }
  .navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion .lookup-suggestion {
    display: flex;
    width: 12px;
    height: 12px;
    margin-left: 10px;
  }
  .navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion .lookup-suggestion .lookup-suggestion-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion span {
    margin-left: 10px;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container {
    z-index: 600;
    visibility: visible;
    position: relative;
    padding-top: 7px;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li {
    margin: 30px;
    font-family: "Montserrat";
    line-height: 19px;
    font-size: 15px;
    text-align: center;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span {
    color: #572EE5;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 2px solid #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-link {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img {
    display: inline;
    margin: -15px 40px -15px -15px;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:hover {
    content: url("../../assets/CTA-crear-gifo-hover.svg");
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:active {
    content: url("../../assets/CTA-crear-gifo-active.svg");
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 41px;
    height: 0.1px;
    margin-top: 35px;
    left: calc(50% - 20.5px);
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:hover span {
    border-bottom: 2px solid #9CAFC3;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:active {
    color: #9CAFC3;
    text-decoration: none;
  }
}
.createGif-section {
  display: flex;
  flex-direction: column;
}
.createGif-section .camera-container {
  position: relative;
  align-self: center;
  width: 80px;
  margin: 20px;
  height: 100px;
}
.createGif-section .camera-container #camera-img {
  position: absolute;
  top: 0px;
  left: unset;
  right: unset;
  width: 86px;
  height: auto;
}
.createGif-section .camera-container #camera-light {
  position: absolute;
  top: 18px;
  left: 86px;
  right: unset;
  height: 80px;
  width: auto;
}
.createGif-section .screen-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}
.createGif-section .screen-container .screen {
  display: none;
  flex-direction: column;
  max-width: 688px;
  width: 100%;
  height: 300px;
  border: 1px solid #572EE5;
  background-color: #FFFFFF;
  margin: 5px auto 0px;
  text-align: center;
  position: relative;
}
.createGif-section .screen-container .screen .title {
  color: #572EE5;
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
  font-family: "Montserrat";
  width: 230px;
  margin: 50px auto 15px auto;
}
.createGif-section .screen-container .screen .title span {
  color: #50E3C2;
}
.createGif-section .screen-container .screen p {
  color: #000000;
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  width: 230px;
  font-family: "Roboto";
  margin: 0px auto;
}
.createGif-section .screen-container .corners {
  display: flex;
  justify-self: center;
  position: relative;
  margin: 0px auto -300px auto;
  z-index: 150;
  border: unset;
  background-color: unset;
  right: 0px;
}
.createGif-section .screen-container .corners .corner-box {
  position: absolute;
  width: 90%;
  max-width: 596px;
  height: 270px;
  top: 20px;
  left: 15px;
  right: unset;
}
.createGif-section .screen-container .corners .corner-box .corner1, .createGif-section .screen-container .corners .corner-box .corner2, .createGif-section .screen-container .corners .corner-box .corner3, .createGif-section .screen-container .corners .corner-box .corner4 {
  position: absolute;
  width: 27px;
  height: 27px;
  border-top: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
}
.createGif-section .screen-container .corners .corner-box .corner1 {
  top: 0px;
  bottom: unset;
  left: 0px;
  right: unset;
  transform: rotate(0deg);
}
.createGif-section .screen-container .corners .corner-box .corner2 {
  top: 0px;
  bottom: 0px;
  left: unset;
  right: 0px;
  transform: rotate(90deg);
}
.createGif-section .screen-container .corners .corner-box .corner3 {
  top: unset;
  bottom: 0px;
  left: 0px;
  right: unset;
  transform: rotate(270deg);
}
.createGif-section .screen-container .corners .corner-box .corner4 {
  top: unset;
  bottom: 0px;
  left: unset;
  right: 0px;
  transform: rotate(180deg);
}
.createGif-section .screen-container .scStep1 {
  display: flex;
}
.createGif-section .screen-container .scStep3 {
  justify-content: center;
  align-items: center;
}
.createGif-section .screen-container .scStep3 video {
  width: 100%;
  max-width: 480px;
  height: 100%;
  max-height: 320px;
}
.createGif-section .screen-container .scStep4, .createGif-section .screen-container .scStep5 {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
}
.createGif-section .screen-container .scStep4 .content, .createGif-section .screen-container .scStep5 .content {
  z-index: 200;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  align-self: center;
  background-color: rgba(87, 46, 229, 0.9);
  justify-self: center;
  justify-content: center;
  position: relative;
}
.createGif-section .screen-container .scStep4 .content img, .createGif-section .screen-container .scStep5 .content img {
  width: 22px;
  height: auto;
  align-self: center;
}
.createGif-section .screen-container .scStep4 .content p, .createGif-section .screen-container .scStep5 .content p {
  align-self: center;
  margin: 10px;
  text-align: center;
  color: #FFFFFF;
}
.createGif-section .screen-container .scStep4 .btnContainerStep5, .createGif-section .screen-container .scStep5 .btnContainerStep5 {
  display: flex;
  position: absolute;
  left: unset;
  right: 10px;
  top: 12px;
}
.createGif-section .screen-container .scStep4 .btnContainerStep5 .downloadBtn, .createGif-section .screen-container .scStep4 .btnContainerStep5 .linkBtn, .createGif-section .screen-container .scStep5 .btnContainerStep5 .downloadBtn, .createGif-section .screen-container .scStep5 .btnContainerStep5 .linkBtn {
  cursor: pointer;
  width: 32px;
  margin-right: 10px;
  height: auto;
}
.createGif-section .screen-container .scStep4 .btnContainerStep5 .downloadBtn:hover, .createGif-section .screen-container .scStep5 .btnContainerStep5 .downloadBtn:hover {
  content: url("../../assets/icon-download-hover.svg");
}
.createGif-section .screen-container .scStep4 .btnContainerStep5 .linkBtn:hover, .createGif-section .screen-container .scStep5 .btnContainerStep5 .linkBtn:hover {
  content: url("../../assets/icon-link-hover.svg");
}
.createGif-section .screen-container .steps-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.createGif-section .screen-container .steps-container .step {
  margin: 5px;
}
.createGif-section .screen-container .steps-container.one .stepOne {
  content: url("../../assets/paso-a-paso-hover.svg");
}
.createGif-section .screen-container .steps-container.two .stepTwo {
  content: url("../../assets/paso-a-paso-hover2.svg");
}
.createGif-section .screen-container .steps-container.three .stepThree {
  content: url("../../assets/paso-a-paso-hover3.svg");
}
.createGif-section .screen-container .steps-container .clock {
  display: none;
  margin: 5px;
  align-self: center;
}
.createGif-section .screen-container .steps-container .crono {
  display: none;
  color: #572EE5;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Montserrat";
  margin: 10px;
  align-items: center;
}
.createGif-section .screen-container .steps-container .repeat {
  display: none;
  color: #572EE5;
  font-size: 13px;
  font-weight: 400;
  font-family: "Montserrat";
  align-items: center;
  border-bottom: 3px solid #FFFFFF;
  margin: 10px;
  cursor: pointer;
}
.createGif-section .screen-container .steps-container .repeat:hover {
  border-bottom: 3px solid #572EE5;
  cursor: pointer;
}
.createGif-section .screen-container .menu-bar {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}
.createGif-section .screen-container .button-container {
  display: flex;
  margin: 20px 5px;
  cursor: pointer;
  justify-content: center;
}
.createGif-section .screen-container .button-container .createBtn {
  display: none;
}
.createGif-section .screen-container .button-container .startBtn {
  display: flex;
}
.createGif-section .screen-container .button-container .startBtn:hover {
  content: url("../../assets/CTA-comenzar-hover.svg");
}
.createGif-section .screen-container .button-container .recordBtn:hover {
  content: url("../../assets/CTA-record-hover.svg");
}
.createGif-section .screen-container .button-container .finishBtn:hover {
  content: url("../../assets/CTA-finalizar-hover.svg");
}
.createGif-section .screen-container .button-container .uploadBtn:hover {
  content: url("../../assets/CTA-upload-hover.svg");
}
.createGif-section .tape-container {
  align-self: center;
  width: 80px;
  margin: 20px;
}
.createGif-section .tape-container img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1440px) {
  .createGif-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .createGif-section .camera-container {
    align-self: flex-start;
    width: 80px;
    margin: 0px;
    min-width: 376px;
    height: 100%;
    position: relative;
  }
  .createGif-section .camera-container #camera-img {
    position: absolute;
    top: 119px;
    left: unset;
    right: 91px;
    width: 116px;
    height: auto;
  }
  .createGif-section .camera-container #camera-light {
    position: absolute;
    top: 145px;
    left: unset;
    right: 28px;
    height: 105px;
    width: auto;
  }
  .createGif-section .screen-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 796px;
  }
  .createGif-section .screen-container .screen {
    display: none;
    max-width: 688px;
    height: 390px;
    border: 1px solid #572EE5;
    background-color: #FFFFFF;
    margin: 5px auto 0px;
    text-align: center;
  }
  .createGif-section .screen-container .screen .content {
    display: flex;
    flex-direction: column;
    max-height: 320px;
    max-width: 480px;
    margin: 50px auto;
    align-self: center;
    justify-self: center;
  }
  .createGif-section .screen-container .screen .content .title {
    color: #572EE5;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    font-family: "Montserrat";
    width: 230px;
    margin: 50px auto 15px auto;
  }
  .createGif-section .screen-container .screen .content .title span {
    color: #50E3C2;
  }
  .createGif-section .screen-container .screen .content p {
    color: #000000;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    width: 230px;
    font-family: "Roboto";
    margin: 0px auto;
  }
  .createGif-section .screen-container .corners {
    display: flex;
    justify-self: center;
    position: relative;
    margin: 0px auto -390px auto;
    z-index: 150;
    border: unset;
    background-color: unset;
    right: 0px;
  }
  .createGif-section .screen-container .corners .corner-box {
    position: absolute;
    width: 95%;
    max-width: 650px;
    height: 360px;
    top: 20px;
    left: 20px;
    right: auto;
  }
  .createGif-section .screen-container .corners .corner-box .corner1, .createGif-section .screen-container .corners .corner-box .corner2, .createGif-section .screen-container .corners .corner-box .corner3, .createGif-section .screen-container .corners .corner-box .corner4 {
    position: absolute;
    width: 27px;
    height: 27px;
    border-top: 1px solid #50E3C2;
    border-left: 1px solid #50E3C2;
  }
  .createGif-section .screen-container .corners .corner-box .corner1 {
    top: 0px;
    bottom: unset;
    left: 0px;
    right: unset;
    transform: rotate(0deg);
  }
  .createGif-section .screen-container .corners .corner-box .corner2 {
    top: 0px;
    bottom: 0px;
    left: unset;
    right: 0px;
    transform: rotate(90deg);
  }
  .createGif-section .screen-container .corners .corner-box .corner3 {
    top: unset;
    bottom: 0px;
    left: 0px;
    right: unset;
    transform: rotate(270deg);
  }
  .createGif-section .screen-container .corners .corner-box .corner4 {
    top: unset;
    bottom: 0px;
    left: unset;
    right: 0px;
    transform: rotate(180deg);
  }
  .createGif-section .screen-container .scStep1 {
    display: flex;
  }
  .createGif-section .screen-container .scStep3 video {
    width: 100%;
    height: 100%;
  }
  .createGif-section .screen-container .scStep4, .createGif-section .screen-container .scStep5 {
    display: none;
    flex-direction: column;
    position: relative;
    justify-content: center;
    z-index: 100;
  }
  .createGif-section .screen-container .scStep4 .content, .createGif-section .screen-container .scStep5 .content {
    z-index: 200;
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 480px;
    margin: 50px auto;
    align-self: center;
    background-color: rgba(87, 46, 229, 0.9);
    justify-self: center;
    justify-content: center;
    position: relative;
  }
  .createGif-section .screen-container .scStep4 .content img, .createGif-section .screen-container .scStep5 .content img {
    width: 22px;
    height: auto;
    align-self: center;
  }
  .createGif-section .screen-container .scStep4 .content p, .createGif-section .screen-container .scStep5 .content p {
    align-self: center;
    margin: 10px auto;
    text-align: center;
    color: #FFFFFF;
  }
  .createGif-section .screen-container .scStep4 .content .btnContainerStep5, .createGif-section .screen-container .scStep5 .content .btnContainerStep5 {
    display: flex;
    position: absolute;
    left: unset;
    right: 2px;
    top: 12px;
  }
  .createGif-section .screen-container .scStep4 .content .btnContainerStep5 .downloadBtn, .createGif-section .screen-container .scStep4 .content .btnContainerStep5 .linkBtn, .createGif-section .screen-container .scStep5 .content .btnContainerStep5 .downloadBtn, .createGif-section .screen-container .scStep5 .content .btnContainerStep5 .linkBtn {
    cursor: pointer;
    width: 32px;
    margin-right: 10px;
    height: auto;
  }
  .createGif-section .screen-container .steps-container {
    display: flex;
    margin: 20px 0px 20px 42%;
    justify-content: unset;
  }
  .createGif-section .screen-container .steps-container .step {
    margin: 5px;
  }
  .createGif-section .screen-container .steps-container.one .stepOne {
    content: url("../../assets/paso-a-paso-hover.svg");
  }
  .createGif-section .screen-container .steps-container.two .stepTwo {
    content: url("../../assets/paso-a-paso-hover2.svg");
  }
  .createGif-section .screen-container .steps-container.three .stepThree {
    content: url("../../assets/paso-a-paso-hover3.svg");
  }
  .createGif-section .screen-container .steps-container .crono {
    display: none;
    color: #572EE5;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    font-family: "Montserrat";
    margin: 10px 0px 10px 210px;
    align-items: center;
  }
  .createGif-section .screen-container .steps-container .repeat {
    display: none;
    color: #572EE5;
    font-size: 13px;
    font-weight: 400;
    font-family: "Montserrat";
    align-items: center;
    border-bottom: 3px solid #FFFFFF;
    margin: 10px 0px 10px 155px;
    cursor: pointer;
  }
  .createGif-section .screen-container .steps-container .repeat:hover {
    border-bottom: 3px solid #572EE5;
    cursor: pointer;
  }
  .createGif-section .screen-container .button-container {
    display: flex;
    margin: 20px 5px;
    cursor: pointer;
    justify-content: center;
  }
  .createGif-section .screen-container .button-container .createBtn {
    display: none;
  }
  .createGif-section .screen-container .button-container .startBtn {
    display: flex;
  }
  .createGif-section .screen-container .button-container .startBtn:hover {
    content: url("../../assets/CTA-comenzar-hover.svg");
  }
  .createGif-section .screen-container .button-container .recordBtn:hover {
    content: url("../../assets/CTA-record-hover.svg");
  }
  .createGif-section .screen-container .button-container .finishBtn:hover {
    content: url("../../assets/CTA-finalizar-hover.svg");
  }
  .createGif-section .screen-container .button-container .uploadBtn:hover {
    content: url("../../assets/CTA-upload-hover.svg");
  }
  .createGif-section .tape-container {
    align-self: flex-start;
    min-width: 376px;
    margin: 0px;
    height: 100%;
    position: relative;
  }
  .createGif-section .tape-container #tape-img {
    position: absolute;
    top: 382px;
    left: 0px;
    width: 130px;
    height: auto;
  }
}
/* 
  FOOTER MOBILE
*/
.footer-container {
  border: 1px solid #FFFFFF;
  bottom: 0px;
  border-bottom: 1px solid #572EE5;
  display: flexbox;
  background-color: #FFFFFF;
}
.footer-container .title {
  width: 99px;
  margin: auto;
  margin-top: 47px;
  font-family: "Roboto";
  line-height: 18px;
}
.footer-container .title span {
  font-family: "Roboto";
  font-size: 16px;
  color: #000000;
}
.footer-container .social-logos {
  display: flex;
  margin: auto;
  margin-top: 24px;
  width: 95px;
  justify-content: space-between;
}
.footer-container .social-logos .social-icon {
  width: 18px;
  height: 18px;
}
.footer-container .social-logos .facebook {
  content: url("../../assets/icon_facebook.svg");
  cursor: pointer;
}
.footer-container .social-logos .facebook:hover {
  content: url("../../assets/icon_facebook_hover.svg");
}
.footer-container .social-logos .twitter {
  content: url("../../assets/icon-twitter.svg");
  cursor: pointer;
}
.footer-container .social-logos .twitter:hover {
  content: url("../../assets/icon-twitter-hover.svg");
}
.footer-container .social-logos .instagram {
  content: url("../../assets/icon_instagram.svg");
  cursor: pointer;
}
.footer-container .social-logos .instagram:hover {
  content: url("../../assets/icon_instagram-hover.svg");
}
.footer-container .text-container {
  margin: 47.8px auto 28px auto;
  width: 222px;
  justify-content: center;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 20px;
}
.footer-container .menu-bar {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}

/* 
   END FOOTER MOBILE
*/
/* 
   FOOTER TABLET
*/
@media (min-width: 771px) {
  .footer-container .top-footer {
    margin: 50px 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  .footer-container .top-footer .title {
    width: 100px;
    margin: 0px 0px 0px 80px;
  }
  .footer-container .top-footer .social-logos {
    flex-direction: row;
    margin: 0px 0px 0px 15px;
  }
  .footer-container .top-footer .text-container {
    display: flex;
    margin: 0px 80px 0px auto;
    text-align: right;
  }
}
/* 
   END FOOTER TABLET
*/
/* 
   FOOTER DESKTOP
*/
@media (min-width: 1440px) {
  .footer-container .top-footer .title {
    margin: 0px 0px 0px 156px;
  }
  .footer-container .top-footer .social-logos {
    margin: 0px 0px 0px 17px;
  }
  .footer-container .top-footer .text-container {
    margin: 0px 156px 0px auto;
  }
}
/* 
   END FOOTER DESKTOP
*/

/*# sourceMappingURL=createGif.css.map */
