@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

.navbar-section {
  background-color: #FFFFFF;
}
.navbar-section .blue-bar {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}
body.dark .navbar-section .blue-bar {
  background-color: #000000;
}
.navbar-section .navbar-container {
  display: flex;
}
.navbar-section .navbar-container .home-img-container {
  margin: 29px 0px 17px 22px;
  width: 80%;
}
.navbar-section .navbar-container .home-img-container .home-img {
  height: 49px;
  width: 56px;
}
.navbar-section .navbar-container .menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.navbar-section .navbar-container .menu-container #menu-drop {
  display: none;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .label-menu .menu-checker .btn-burguer {
  display: none;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .label-menu .menu-checker .btn-burguerClose {
  display: block;
  width: 15px;
  margin-left: 0px;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .list-menu-container {
  visibility: visible;
}
.navbar-section .navbar-container .menu-container .label-menu {
  display: flex;
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker {
  width: 15px;
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker .btn-burguer {
  width: 100%;
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker .btn-burguerClose {
  display: none;
  height: 30px;
  margin-top: -8px;
  margin-left: -8px;
}
.navbar-section .navbar-container .menu-container .list-menu-container {
  z-index: 100;
  visibility: hidden;
  position: absolute;
  padding-top: 7px;
  top: 95px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 46, 229, 0.9);
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li {
  margin: 30px auto;
  display: block;
  font-family: "Montserrat";
  line-height: 19px;
  font-size: 15px;
  text-align: center;
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span {
  color: #FFFFFF;
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 2px solid rgba(87, 46, 229, 0.1);
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
  border-bottom: 2px solid #50E3C2;
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  width: 41px;
  height: 0.1px;
  margin-top: 35px;
  left: calc(50% - 20.5px);
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu:hover span {
  border-bottom: 2px solid #9CAFC3;
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu:active {
  color: #9CAFC3;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-section {
    position: sticky;
    top: 0;
  }
  .navbar-section .navbar-container {
    display: flex;
  }
  .navbar-section .navbar-container .home-img-container {
    margin: 20px 0px 17px 60px;
    width: 20%;
  }
  .navbar-section .navbar-container .home-img-container .home-img {
    height: 49px;
    width: 56px;
  }
  .navbar-section .navbar-container .home-img-container .home-img #home-GIFOS-logo {
    content: url("../../assets/logo-desktop.svg");
  }
  .navbar-section .navbar-container .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .navbar-section .navbar-container .menu-container .label-menu {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container {
    z-index: 100;
    visibility: visible;
    position: relative;
    padding-top: 7px;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li {
    margin: 30px;
    font-family: "Montserrat";
    line-height: 19px;
    font-size: 15px;
    text-align: center;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span {
    color: #572EE5;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 2px solid #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-link {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img {
    display: inline;
    margin: -15px 40px -15px -15px;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:hover {
    content: url("../../assets/CTA-crear-gifo-hover.svg");
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 41px;
    height: 0.1px;
    margin-top: 35px;
    left: calc(50% - 20.5px);
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:hover span {
    border-bottom: 2px solid #9CAFC3;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:active {
    color: #9CAFC3;
    text-decoration: none;
  }
}
.maximize-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.9);
}
.maximize-container .closeBtn {
  cursor: pointer;
  position: absolute;
  width: 14px;
  top: 50px;
  left: unset;
  right: 20px;
}
.maximize-container .maximized-gif-card {
  display: flex;
  flex-direction: column;
  width: 318px;
  position: absolute;
  align-self: center;
  justify-self: center;
  top: 128px;
}
.maximize-container .maximized-gif-card .gifImage {
  width: 318px;
  height: 245px;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.7);
}
.maximize-container .maximized-gif-card .gifDescription {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
}
.maximize-container .maximized-gif-card .gifDescription .gifInformation {
  color: #000000;
  width: 60%;
}
.maximize-container .maximized-gif-card .gifDescription .gifInformation .gifUser {
  font-family: "Montserrat";
  margin: 14px 6px 6px 6px;
  font-size: 12px;
}
.maximize-container .maximized-gif-card .gifDescription .gifInformation .gifTitle {
  font-family: "Montserrat";
  margin: 0px 6px 6px 6px;
  font-size: 16px;
}
.maximize-container .maximized-gif-card .gifDescription .gifButtonContainer {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn {
  margin-right: 20px;
  cursor: pointer;
  width: 36px;
}
.maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .downloadBtn {
  cursor: pointer;
  width: 36px;
}

.search-section {
  margin: 20px 0px;
}
.search-section #input-search {
  width: 80%;
  margin: 0px 10px;
  outline: none;
  border: 2px solid red;
  font-family: "Montserrat";
  font-size: 25px;
}
.search-section #btn-search {
  cursor: pointer;
}
.search-section .sugerencias-container {
  display: none;
}
.search-section .sugerencias-container .suggestion {
  width: 80%;
  font-family: "Montserrat";
  font-size: 25px;
  margin: 0px 10px;
  border: 2px solid red;
  cursor: pointer;
}

.terms-container {
  margin: 20px;
}
.terms-container .trending-term {
  font-family: "Montserrat";
  margin: 5px;
  color: #572EE5;
  cursor: pointer;
}

.gif-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, 200px);
  justify-content: center;
}
.gif-container .gif-card {
  display: flex;
  justify-content: center;
  border: 2px solid red;
  position: relative;
}
.gif-container .gif-card .gifImage {
  width: 100%;
  height: 100%;
}
.gif-container .gif-card .hoverGif {
  position: absolute;
  background-color: rgba(87, 46, 229, 0.7);
  width: 100%;
  height: 100%;
}
.gif-container .gif-card .hoverGif .gifButtonContainer {
  padding: 10px;
}
.gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn {
  cursor: pointer;
}
.gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn {
  cursor: pointer;
}
.gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn {
  cursor: pointer;
}
.gif-container .gif-card .hoverGif .gifInformation .gifUser {
  font-family: "Montserrat";
  color: #FFFFFF;
  padding: 10px;
}
.gif-container .gif-card .hoverGif .gifInformation .gifTitle {
  font-family: "Montserrat";
  color: #FFFFFF;
  padding: 10px;
}

.gif-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, 200px);
  justify-content: center;
}
.gif-container .gif-card {
  display: flex;
  justify-content: center;
  border: 2px solid red;
  position: relative;
}
.gif-container .gif-card .gifImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gif-container .gif-card .hoverGif {
  position: absolute;
  background-color: rgba(87, 46, 229, 0.7);
  width: 100%;
  height: 100%;
}
.gif-container .gif-card .hoverGif .gifButton {
  padding: 10px;
}
.gif-container .gif-card .hoverGif .gifButton .favoriteBtn {
  cursor: pointer;
}
.gif-container .gif-card .hoverGif .gifButton .downloadBtn {
  cursor: pointer;
}
.gif-container .gif-card .hoverGif .gifButton .expandBtn {
  cursor: pointer;
}
.gif-container .gif-card .hoverGif .gifInformation .gifUser {
  font-family: "Montserrat";
  color: #FFFFFF;
  padding: 10px;
}
.gif-container .gif-card .hoverGif .gifInformation .gifTitle {
  font-family: "Montserrat";
  color: #FFFFFF;
  padding: 10px;
}

/*# sourceMappingURL=home.css.map */
