@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

.navbar-section {
  background-color: #FFFFFF;
  z-index: 100;
}
.navbar-section .blue-bar {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}
body.dark .navbar-section .blue-bar {
  background-color: #000000;
}
.navbar-section .navbar-container {
  display: flex;
}
.navbar-section .navbar-container .home-img-container {
  margin: 29px 0px 17px 22px;
  width: 80%;
}
.navbar-section .navbar-container .home-img-container .home-img {
  height: 49px;
  width: 56px;
}
.navbar-section .navbar-container .menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.navbar-section .navbar-container .menu-container #menu-drop {
  display: none;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .label-menu .menu-checker .btn-burguer {
  display: none;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .label-menu .menu-checker .btn-burguerClose {
  display: block;
  width: 15px;
  margin-left: 0px;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .list-menu-container {
  visibility: visible;
}
.navbar-section .navbar-container .menu-container .label-menu {
  display: flex;
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker {
  width: 15px;
  cursor: pointer;
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker .btn-burguer {
  width: 100%;
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker .btn-burguerClose {
  display: none;
  height: 30px;
  margin-top: -8px;
  margin-left: -8px;
}
.navbar-section .navbar-container .menu-container .list-menu-container {
  z-index: 100;
  visibility: hidden;
  position: absolute;
  padding-top: 7px;
  top: 95px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 46, 229, 0.9);
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li {
  margin: 30px auto;
  display: block;
  font-family: "Montserrat";
  line-height: 19px;
  font-size: 15px;
  text-align: center;
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-link {
  display: inline;
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img {
  display: none;
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span {
  color: #FFFFFF;
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 2px solid rgba(87, 46, 229, 0.1);
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
  border-bottom: 2px solid #50E3C2;
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  width: 41px;
  height: 0.1px;
  margin-top: 35px;
  left: calc(50% - 20.5px);
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu:hover span {
  border-bottom: 2px solid #9CAFC3;
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu:active {
  color: #9CAFC3;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-section {
    position: sticky;
    top: 0;
  }
  .navbar-section .navbar-container {
    display: flex;
  }
  .navbar-section .navbar-container .home-img-container {
    margin: 20px 0px 17px 60px;
    width: 20%;
  }
  .navbar-section .navbar-container .home-img-container .home-img {
    height: 49px;
    width: 56px;
  }
  .navbar-section .navbar-container .home-img-container .home-img #home-GIFOS-logo {
    content: url("../../assets/logo-desktop.svg");
  }
  .navbar-section .navbar-container .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .navbar-section .navbar-container .menu-container .label-menu {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container {
    z-index: 100;
    visibility: visible;
    position: relative;
    padding-top: 7px;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li {
    margin: 30px;
    font-family: "Montserrat";
    line-height: 19px;
    font-size: 15px;
    text-align: center;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span {
    color: #572EE5;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 2px solid #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-link {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img {
    display: inline;
    margin: -15px 40px -15px -15px;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:hover {
    content: url("../../assets/CTA-crear-gifo-hover.svg");
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 41px;
    height: 0.1px;
    margin-top: 35px;
    left: calc(50% - 20.5px);
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:hover span {
    border-bottom: 2px solid #9CAFC3;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:active {
    color: #9CAFC3;
    text-decoration: none;
  }
}
.maximize-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.9);
}
.maximize-container .closeBtn {
  cursor: pointer;
  position: absolute;
  width: 14px;
  top: 50px;
  left: unset;
  right: 20px;
}
.maximize-container .previous-arrow, .maximize-container .next-arrow {
  display: none;
}
.maximize-container .maximized-gif-card {
  display: flex;
  flex-direction: column;
  width: 318px;
  position: absolute;
  align-self: center;
  justify-self: center;
  top: 128px;
}
.maximize-container .maximized-gif-card .gifImage {
  width: 318px;
  height: 245px;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.7);
}
.maximize-container .maximized-gif-card .gifDescription {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  display: flex;
}
.maximize-container .maximized-gif-card .gifDescription .gifInformation {
  color: #000000;
  width: 60%;
}
.maximize-container .maximized-gif-card .gifDescription .gifInformation .gifUser {
  font-family: "Montserrat";
  margin: 14px 6px 6px 6px;
  font-size: 12px;
}
.maximize-container .maximized-gif-card .gifDescription .gifInformation .gifTitle {
  font-family: "Montserrat";
  margin: 0px 6px 6px 6px;
  font-size: 16px;
}
.maximize-container .maximized-gif-card .gifDescription .gifButtonContainer {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn {
  margin-right: 20px;
  cursor: pointer;
  width: 36px;
}
.maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .downloadBtn {
  cursor: pointer;
  width: 36px;
}

@media (min-width: 768px) {
  .maximize-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .maximize-container .closeBtn {
    cursor: pointer;
    position: absolute;
    width: 14px;
    top: 50px;
    left: unset;
    right: 20px;
  }
  .maximize-container .previous-arrow, .maximize-container .next-arrow {
    z-index: 201;
    display: flex;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: auto;
    top: 300px;
  }
  .maximize-container .previous-arrow img, .maximize-container .next-arrow img {
    width: 100%;
  }
  .maximize-container .previous-arrow {
    left: 35px;
    right: unset;
  }
  .maximize-container .previous-arrow:hover {
    content: url("../../assets/button-slider-left-hover.svg");
  }
  .maximize-container .next-arrow {
    left: unset;
    right: 35px;
  }
  .maximize-container .next-arrow:hover {
    content: url("../../assets/button-slider-right-hover.svg");
  }
  .maximize-container .maximized-gif-card {
    display: flex;
    flex-direction: column;
    width: 595px;
    position: absolute;
    align-self: center;
    justify-self: center;
    top: 128px;
  }
  .maximize-container .maximized-gif-card .gifImage {
    width: 595px;
    height: 335px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .maximize-container .maximized-gif-card .gifDescription {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation {
    color: #000000;
    width: 60%;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation .gifUser {
    font-family: "Montserrat";
    margin: 14px 6px 6px 6px;
    font-size: 12px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation .gifTitle {
    font-family: "Montserrat";
    margin: 0px 6px 6px 6px;
    font-size: 16px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn {
    margin-right: 20px;
    cursor: pointer;
    width: 36px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn:hover {
    content: url("../../assets/icon-fav-hover.svg");
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .downloadBtn {
    cursor: pointer;
    width: 36px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .downloadBtn:hover {
    content: url("../../assets/icon-download-hover.svg");
  }
}
@media (min-width: 1440px) {
  .maximize-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .maximize-container .closeBtn {
    cursor: pointer;
    position: absolute;
    width: 14px;
    top: 150px;
    left: unset;
    right: 120px;
  }
  .maximize-container .previous-arrow, .maximize-container .next-arrow {
    z-index: 201;
    display: flex;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: auto;
    top: 390px;
  }
  .maximize-container .previous-arrow img, .maximize-container .next-arrow img {
    width: 100%;
  }
  .maximize-container .previous-arrow {
    left: 165px;
    right: unset;
  }
  .maximize-container .previous-arrow:hover {
    content: url("../../assets/button-slider-left-hover.svg");
  }
  .maximize-container .next-arrow {
    left: unset;
    right: 165px;
  }
  .maximize-container .next-arrow:hover {
    content: url("../../assets/button-slider-right-hover.svg");
  }
  .maximize-container .maximized-gif-card {
    display: flex;
    flex-direction: column;
    width: 795px;
    position: absolute;
    align-self: center;
    justify-self: center;
    top: 200px;
  }
  .maximize-container .maximized-gif-card .gifImage {
    width: 795px;
    height: 435px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .maximize-container .maximized-gif-card .gifDescription {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation {
    color: #000000;
    width: 60%;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation .gifUser {
    font-family: "Montserrat";
    margin: 14px 6px 6px 6px;
    font-size: 12px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation .gifTitle {
    font-family: "Montserrat";
    margin: 0px 6px 6px 6px;
    font-size: 16px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn {
    margin-right: 20px;
    cursor: pointer;
    width: 36px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn:hover {
    content: url("../../assets/icon-fav-hover.svg");
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .downloadBtn {
    cursor: pointer;
    width: 36px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .downloadBtn:hover {
    content: url("../../assets/icon-download-hover.svg");
  }
}
.search-section {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.search-section .title-container {
  width: 286px;
  margin: auto;
  margin-top: 7px;
  margin-bottom: -4px;
}
.search-section .title-container .welcome-title {
  color: #572EE5;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
body.dark .search-section .title-container .welcome-title {
  color: #FFFFFF;
}
.search-section .title-container .welcome-title .green-text {
  color: #50E3C2;
}
.search-section .title-container .welcome-img {
  margin-top: 35px;
  width: 300px;
}
.search-section .title-container .welcome-img img {
  object-fit: fill;
  width: 100%;
}
.search-section .input-container {
  background-color: #FFFFFF;
  border-radius: 25px;
  border: 2px solid #572EE5;
  padding: 0px 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 651px;
  max-width: 551px;
}
.search-section .input-container .first-row {
  display: flex;
  align-items: center;
}
.search-section .input-container .first-row .lookup-searchBtn,
.search-section .input-container .first-row .lookup-open-suggestion,
.search-section .input-container .first-row .clear-input {
  margin: 5px 10px 5px 5px;
  width: 13px;
  height: 13px;
  object-fit: cover;
  cursor: pointer;
}
.search-section .input-container .first-row .lookup-searchBtn {
  order: 1;
  visibility: hidden;
}
.search-section .input-container .first-row .input-search {
  order: 2;
  margin: 0px;
  width: calc(100% - 40px);
  display: flex;
  height: 35px;
  outline: none;
  color: #6B7989;
  background-color: #FFFFFF;
  font-family: "Roboto";
  font-size: 14px;
  border: hidden;
  cursor: pointer;
}
.search-section .input-container .first-row .input-search:focus {
  color: #000000;
}
.search-section .input-container .first-row .lookup-open-suggestion {
  order: 3;
}
.search-section .input-container .first-row .clear-input {
  order: 4;
  width: 10px;
  height: 10px;
  display: none;
}
.search-section .input-container .suggestion-division {
  display: none;
}
.search-section .input-container .sugerencias-container {
  margin: 0px;
}
.search-section .input-container .sugerencias-container .suggestion {
  display: flex;
  height: 30px;
  align-items: center;
  width: 100%;
  font-family: "Roboto";
  font-size: 14px;
  cursor: pointer;
  color: #9CAFC3;
  line-height: 19px;
}
.search-section .input-container .sugerencias-container .suggestion .lookup-suggestion {
  display: flex;
  width: 12px;
  height: 12px;
  margin-left: 10px;
}
.search-section .input-container .sugerencias-container .suggestion .lookup-suggestion .lookup-suggestion-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.search-section .input-container .sugerencias-container .suggestion span {
  margin-left: 10px;
}
.search-section .subtitle {
  margin-top: 31px;
  text-align: center;
}
.search-section .subtitle span {
  color: #572EE5;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}
.search-section .terms-container {
  display: flexbox;
  margin-top: 5px;
  text-align: center;
  align-self: center;
  width: 225px;
}
.search-section .terms-container a {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 25px;
  width: 225px;
  margin: 2px auto 45px auto;
  text-align: center;
}
.search-section .terms-container a span {
  color: #572EE5;
  cursor: pointer;
}

.terms-container {
  margin: 20px;
}
.terms-container .trending-term {
  font-family: "Montserrat";
  margin: 5px;
  color: #572EE5;
  cursor: pointer;
}

.gif-search-results {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  justify-content: center;
}
.gif-search-results .division {
  display: flex;
  margin-top: 55px;
  width: 157px;
  margin: 0 auto;
}
.gif-search-results .title-container .title {
  text-align: center;
  color: #572EE5;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  margin: 65px 0px 60px 0px;
}
.gif-search-results .lorem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gif-search-results .lorem-container img {
  align-self: center;
  width: 109px;
}
.gif-search-results .lorem-container .title {
  text-align: center;
  color: #50E3C2;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  margin: 65px 0px 60px 0px;
}
.gif-search-results .gif-container {
  justify-content: center;
  margin: 0 auto;
  display: grid;
  padding: 0px 21px;
  grid-template-columns: repeat(2, 156px);
  grid-auto-rows: minmax(120px, 130px);
  column-gap: 21px;
  row-gap: 25px;
  z-index: 100;
}
.gif-search-results .gif-container .gif-card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 156px;
  height: 120px;
  cursor: pointer;
}
.gif-search-results .gif-container .gif-card .gifImage {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.gif-search-results .gif-container .gif-card .hoverGif {
  display: none;
  position: absolute;
  background-color: rgba(87, 46, 229, 0.7);
  width: 100%;
  height: 100%;
}
.gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}
.gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn {
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin-left: 10px;
}
.gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn:hover {
  content: url("../../assets/icon-fav-hover.svg");
}
.gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn:hover {
  content: url("../../assets/icon-download-hover.svg");
}
.gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn:hover {
  content: url("../../assets/icon-max-hover.svg");
}
.gif-search-results .gif-container .gif-card .hoverGif .gifInformation {
  margin-top: 60px;
}
.gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifUser {
  margin: 5px 0px;
  font-family: "Roboto";
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}
.gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifTitle {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}
.gif-search-results .btn-VerMas {
  margin-top: 80px;
  align-self: center;
  width: 127px;
  display: flex;
  cursor: pointer;
}
.gif-search-results .btn-VerMas img {
  width: 100%;
}
.gif-search-results .btn-VerMas img:hover {
  content: url("../../assets/CTA-ver-mas-hover.svg");
}

@media (min-width: 768px) {
  .gif-search-results {
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: center;
  }
  .gif-search-results .division {
    display: flex;
    margin-top: 55px;
    width: 157px;
    margin: 0 auto;
  }
  .gif-search-results .title-container .title {
    text-align: center;
    color: #572EE5;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    margin: 65px 0px 60px 0px;
  }
  .gif-search-results .lorem-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .gif-search-results .lorem-container img {
    align-self: center;
    width: 109px;
  }
  .gif-search-results .lorem-container .title {
    text-align: center;
    color: #50E3C2;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    margin: 65px 0px 60px 0px;
  }
  .gif-search-results .gif-container {
    justify-content: center;
    margin: 0 auto;
    display: grid;
    padding: 0px 21px;
    grid-template-columns: repeat(3, 220px);
    grid-auto-rows: minmax(170px, 170px);
    column-gap: 21px;
    row-gap: 25px;
  }
  .gif-search-results .gif-container .gif-card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  .gif-search-results .gif-container .gif-card:hover .hoverGif {
    display: block;
  }
  .gif-search-results .gif-container .gif-card .gifImage {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  .gif-search-results .gif-container .gif-card .hoverGif {
    position: absolute;
    background-color: rgba(87, 46, 229, 0.7);
    width: 100%;
    height: 100%;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn {
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn:hover {
    content: url("../../assets/icon-fav-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn:hover {
    content: url("../../assets/icon-download-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn:hover {
    content: url("../../assets/icon-max-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation {
    margin-top: 35px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifUser {
    margin: 0px 0px 5px 0px;
    font-family: "Roboto";
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifTitle {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .gif-search-results .btn-VerMas {
    margin-top: 80px;
    align-self: center;
    width: 127px;
    display: flex;
    cursor: pointer;
  }
  .gif-search-results .btn-VerMas img {
    width: 100%;
  }
  .gif-search-results .btn-VerMas img:hover {
    content: url("../../assets/CTA-ver-mas-hover.svg");
  }
}
@media (min-width: 1440px) {
  .gif-search-results {
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: center;
  }
  .gif-search-results .division {
    display: flex;
    margin-top: 55px;
    width: 157px;
    margin: 0 auto;
  }
  .gif-search-results .title-container .title {
    text-align: center;
    color: #572EE5;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    margin: 65px 0px 60px 0px;
  }
  .gif-search-results .lorem-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .gif-search-results .lorem-container img {
    align-self: center;
    width: 109px;
  }
  .gif-search-results .lorem-container .title {
    text-align: center;
    color: #50E3C2;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    margin: 65px 0px 60px 0px;
  }
  .gif-search-results .gif-container {
    justify-content: center;
    margin: 0 auto;
    display: grid;
    padding: 0px 21px;
    grid-template-columns: repeat(4, 260px);
    grid-auto-rows: minmax(200px, 200px);
    column-gap: 21px;
    row-gap: 30px;
  }
  .gif-search-results .gif-container .gif-card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  .gif-search-results .gif-container .gif-card:hover .hoverGif {
    display: block;
  }
  .gif-search-results .gif-container .gif-card .gifImage {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  .gif-search-results .gif-container .gif-card .hoverGif {
    position: absolute;
    background-color: rgba(87, 46, 229, 0.7);
    width: 100%;
    height: 100%;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn {
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn:hover {
    content: url("../../assets/icon-fav-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn:hover {
    content: url("../../assets/icon-download-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn:hover {
    content: url("../../assets/icon-max-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation {
    margin-top: 55px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifUser {
    margin: 5px 0px;
    font-family: "Roboto";
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifTitle {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .gif-search-results .btn-VerMas {
    margin-top: 80px;
    align-self: center;
    width: 127px;
    display: flex;
    cursor: pointer;
  }
  .gif-search-results .btn-VerMas img {
    width: 100%;
  }
  .gif-search-results .btn-VerMas img:hover {
    content: url("../../assets/CTA-ver-mas-hover.svg");
  }
}
.gif-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-content: center;
}
.gif-container .gif-card {
  display: flex;
  justify-content: center;
  position: relative;
}
.gif-container .gif-card .gifImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gif-container .gif-card .hoverGif {
  position: absolute;
  background-color: rgba(87, 46, 229, 0.7);
  width: 100%;
  height: 100%;
}
.gif-container .gif-card .hoverGif .gifButton {
  padding: 10px;
}
.gif-container .gif-card .hoverGif .gifButton .favoriteBtn {
  cursor: pointer;
}
.gif-container .gif-card .hoverGif .gifButton .downloadBtn {
  cursor: pointer;
}
.gif-container .gif-card .hoverGif .gifButton .expandBtn {
  cursor: pointer;
}
.gif-container .gif-card .hoverGif .gifInformation .gifUser {
  font-family: "Montserrat";
  color: #FFFFFF;
  padding: 10px;
}
.gif-container .gif-card .hoverGif .gifInformation .gifTitle {
  font-family: "Montserrat";
  color: #FFFFFF;
  padding: 10px;
}

/*# sourceMappingURL=home.css.map */
