@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

body {
  min-width: 375px;
}

.navbar-section {
  background-color: #FFFFFF;
  z-index: 100;
}
.navbar-section .blue-bar {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}
body.dark .navbar-section .blue-bar {
  background-color: #000000;
}
.navbar-section .navbar-container {
  display: flex;
}
.navbar-section .navbar-container .home-img-container {
  margin: 29px 0px 17px 22px;
  width: 80%;
}
.navbar-section .navbar-container .home-img-container .home-img {
  height: 49px;
  width: 56px;
}
.navbar-section .navbar-container .menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.navbar-section .navbar-container .menu-container #menu-drop {
  display: none;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .label-menu .menu-checker .btn-burguer {
  display: none;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .label-menu .menu-checker .btn-burguerClose {
  display: block;
  width: 15px;
  margin-left: 0px;
}
.navbar-section .navbar-container .menu-container #menu-drop:checked ~ .list-menu-container {
  visibility: visible;
}
.navbar-section .navbar-container .menu-container .label-menu {
  display: flex;
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker {
  width: 15px;
  cursor: pointer;
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker .btn-burguer {
  width: 100%;
}
.navbar-section .navbar-container .menu-container .label-menu .menu-checker .btn-burguerClose {
  display: none;
  height: 30px;
  margin-top: -8px;
  margin-left: -8px;
}
.navbar-section .navbar-container .menu-container .input-container {
  display: none;
  background-color: #FFFFFF;
  border-radius: 25px;
  border: 2px solid #572EE5;
  padding: 0px 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 651px;
  max-width: 551px;
}
.navbar-section .navbar-container .menu-container .input-container .first-row {
  display: flex;
  align-items: center;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .lookup-searchBtn,
.navbar-section .navbar-container .menu-container .input-container .first-row .lookup-open-suggestion,
.navbar-section .navbar-container .menu-container .input-container .first-row .clear-input {
  margin: 5px 10px 5px 5px;
  width: 13px;
  height: 13px;
  object-fit: cover;
  cursor: pointer;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .lookup-searchBtn {
  order: 1;
  visibility: hidden;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .input-search {
  order: 2;
  margin: 0px;
  width: calc(100% - 40px);
  display: flex;
  height: 35px;
  outline: none;
  color: #6B7989;
  background-color: #FFFFFF;
  font-family: "Roboto";
  font-size: 14px;
  border: hidden;
  cursor: pointer;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .input-search:focus {
  color: #000000;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .lookup-open-suggestion {
  order: 3;
}
.navbar-section .navbar-container .menu-container .input-container .first-row .clear-input {
  order: 4;
  width: 10px;
  height: 10px;
  display: none;
}
.navbar-section .navbar-container .menu-container .input-container .suggestion-division {
  display: none;
}
.navbar-section .navbar-container .menu-container .input-container .sugerencias-container {
  margin: 0px;
}
.navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion {
  display: none;
  height: 30px;
  align-items: center;
  width: 100%;
  font-family: "Roboto";
  font-size: 14px;
  cursor: pointer;
  color: #9CAFC3;
  line-height: 19px;
}
.navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion .lookup-suggestion {
  display: flex;
  width: 12px;
  height: 12px;
  margin-left: 10px;
}
.navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion .lookup-suggestion .lookup-suggestion-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion span {
  margin-left: 10px;
}
.navbar-section .navbar-container .menu-container .list-menu-container {
  z-index: 100;
  visibility: hidden;
  position: absolute;
  padding-top: 7px;
  top: 95px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 46, 229, 0.9);
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li {
  margin: 30px auto;
  display: block;
  font-family: "Montserrat";
  line-height: 19px;
  font-size: 15px;
  text-align: center;
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-link {
  display: inline;
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img {
  display: none;
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span {
  color: #FFFFFF;
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 2px solid rgba(87, 46, 229, 0.1);
}
.navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
  border-bottom: 2px solid #50E3C2;
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  width: 41px;
  height: 0.1px;
  margin-top: 35px;
  left: calc(50% - 20.5px);
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu:hover span {
  border-bottom: 2px solid #9CAFC3;
}
.navbar-section .navbar-container .menu-container .list-menu-container .link-menu:active {
  color: #9CAFC3;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-section {
    position: sticky;
    top: 0;
  }
  .navbar-section .navbar-container {
    display: flex;
  }
  .navbar-section .navbar-container .home-img-container {
    margin: 20px 0px 17px 60px;
    width: 20%;
  }
  .navbar-section .navbar-container .home-img-container .home-img {
    height: 49px;
    width: 56px;
  }
  .navbar-section .navbar-container .home-img-container .home-img #home-GIFOS-logo {
    content: url("../../assets/logo-desktop.svg");
  }
  .navbar-section .navbar-container .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .navbar-section .navbar-container .menu-container .label-menu {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container {
    z-index: 100;
    visibility: visible;
    position: relative;
    padding-top: 7px;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li {
    margin: 30px;
    font-family: "Montserrat";
    line-height: 19px;
    font-size: 15px;
    text-align: center;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span {
    color: #572EE5;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 2px solid #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-link {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img {
    display: inline;
    margin: -15px 40px -15px -15px;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:hover {
    content: url("../../assets/CTA-crear-gifo-hover.svg");
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:active {
    content: url("../../assets/CTA-crear-gifo-active.svg");
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 41px;
    height: 0.1px;
    margin-top: 35px;
    left: calc(50% - 20.5px);
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:hover span {
    border-bottom: 2px solid #9CAFC3;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:active {
    color: #9CAFC3;
    text-decoration: none;
  }
}
@media (min-width: 1440px) {
  .navbar-section {
    position: sticky;
    top: 0;
  }
  .navbar-section .navbar-container {
    display: flex;
  }
  .navbar-section .navbar-container .home-img-container {
    margin: 20px 0px 17px 60px;
    width: 20%;
  }
  .navbar-section .navbar-container .home-img-container .home-img {
    height: 49px;
    width: 56px;
  }
  .navbar-section .navbar-container .home-img-container .home-img #home-GIFOS-logo {
    content: url("../../assets/logo-desktop.svg");
  }
  .navbar-section .navbar-container .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .navbar-section .navbar-container .menu-container .label-menu {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .input-container {
    display: none;
    position: absolute;
    top: 25px;
    right: unset;
    left: 343px;
    z-index: 400;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 2px solid #572EE5;
    padding: 0px 20px;
    margin: 0 auto;
    width: 90%;
    max-width: 334px;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .lookup-searchBtn,
.navbar-section .navbar-container .menu-container .input-container .first-row .lookup-open-suggestion,
.navbar-section .navbar-container .menu-container .input-container .first-row .clear-input {
    margin: 5px 10px 5px 5px;
    width: 13px;
    height: 13px;
    object-fit: cover;
    cursor: pointer;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .lookup-searchBtn {
    order: 1;
    visibility: hidden;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .input-search {
    order: 2;
    margin: 0px;
    width: calc(100% - 10px);
    display: flex;
    height: 35px;
    outline: none;
    color: #6B7989;
    background-color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    border: hidden;
    cursor: pointer;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .input-search:focus {
    color: #000000;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .lookup-open-suggestion {
    order: 3;
  }
  .navbar-section .navbar-container .menu-container .input-container .first-row .clear-input {
    order: 4;
    width: 10px;
    height: 10px;
    display: none;
  }
  .navbar-section .navbar-container .menu-container .input-container .suggestion-division {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .input-container .sugerencias-container {
    margin: 0px;
  }
  .navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion {
    display: flex;
    height: 30px;
    align-items: center;
    width: 100%;
    font-family: "Roboto";
    font-size: 14px;
    cursor: pointer;
    color: #9CAFC3;
    line-height: 19px;
  }
  .navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion .lookup-suggestion {
    display: flex;
    width: 12px;
    height: 12px;
    margin-left: 10px;
  }
  .navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion .lookup-suggestion .lookup-suggestion-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .navbar-section .navbar-container .menu-container .input-container .sugerencias-container .suggestion span {
    margin-left: 10px;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container {
    z-index: 100;
    visibility: visible;
    position: relative;
    padding-top: 7px;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li {
    margin: 30px;
    font-family: "Montserrat";
    line-height: 19px;
    font-size: 15px;
    text-align: center;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span {
    color: #572EE5;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 1px;
    border-bottom: 2px solid #FFFFFF;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu span:hover {
    border-bottom: 2px solid #5ED7C6;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-link {
    display: none;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img {
    display: inline;
    margin: -15px 40px -15px -15px;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:hover {
    content: url("../../assets/CTA-crear-gifo-hover.svg");
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .list-menu li .link-menu #crear-gif-img:active {
    content: url("../../assets/CTA-crear-gifo-active.svg");
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 41px;
    height: 0.1px;
    margin-top: 35px;
    left: calc(50% - 20.5px);
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:hover span {
    border-bottom: 2px solid #9CAFC3;
  }
  .navbar-section .navbar-container .menu-container .list-menu-container .link-menu:active {
    color: #9CAFC3;
    text-decoration: none;
  }
}
.maximize-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: #FFFFFF;
}
.maximize-container .closeBtn {
  cursor: pointer;
  position: absolute;
  width: 14px;
  top: 50px;
  left: unset;
  right: 20px;
}
.maximize-container .previous-arrow, .maximize-container .next-arrow {
  display: none;
}
.maximize-container .maximized-gif-card {
  display: flex;
  flex-direction: column;
  width: 318px;
  position: absolute;
  align-self: center;
  justify-self: center;
  top: 128px;
}
.maximize-container .maximized-gif-card .gifImage {
  width: 318px;
  height: 245px;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.7);
}
.maximize-container .maximized-gif-card .gifDescription {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  display: flex;
}
.maximize-container .maximized-gif-card .gifDescription .gifInformation {
  color: #000000;
  width: 60%;
}
.maximize-container .maximized-gif-card .gifDescription .gifInformation .gifUser {
  font-family: "Montserrat";
  margin: 14px 6px 6px 6px;
  font-size: 12px;
}
.maximize-container .maximized-gif-card .gifDescription .gifInformation .gifTitle {
  font-family: "Montserrat";
  margin: 0px 6px 6px 6px;
  font-size: 16px;
}
.maximize-container .maximized-gif-card .gifDescription .gifButtonContainer {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn {
  margin-right: 20px;
  cursor: pointer;
  width: 36px;
}
.maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn:active {
  content: url("../../assets/icon-fav-active.svg");
}
.maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .downloadBtn {
  cursor: pointer;
  width: 36px;
}

@media (min-width: 768px) {
  .maximize-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: #FFFFFF;
  }
  .maximize-container .closeBtn {
    cursor: pointer;
    position: absolute;
    width: 14px;
    top: 50px;
    left: unset;
    right: 20px;
  }
  .maximize-container .previous-arrow, .maximize-container .next-arrow {
    z-index: 201;
    display: flex;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: auto;
    top: 300px;
  }
  .maximize-container .previous-arrow img, .maximize-container .next-arrow img {
    width: 100%;
  }
  .maximize-container .previous-arrow {
    left: 35px;
    right: unset;
  }
  .maximize-container .previous-arrow:hover {
    content: url("../../assets/button-slider-left-hover.svg");
  }
  .maximize-container .next-arrow {
    left: unset;
    right: 35px;
  }
  .maximize-container .next-arrow:hover {
    content: url("../../assets/button-slider-right-hover.svg");
  }
  .maximize-container .maximized-gif-card {
    display: flex;
    flex-direction: column;
    width: 595px;
    position: absolute;
    align-self: center;
    justify-self: center;
    top: 128px;
  }
  .maximize-container .maximized-gif-card .gifImage {
    width: 595px;
    height: 335px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .maximize-container .maximized-gif-card .gifDescription {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation {
    color: #000000;
    width: 60%;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation .gifUser {
    font-family: "Montserrat";
    margin: 14px 6px 6px 6px;
    font-size: 12px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation .gifTitle {
    font-family: "Montserrat";
    margin: 0px 6px 6px 6px;
    font-size: 16px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn {
    margin-right: 20px;
    cursor: pointer;
    width: 36px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn:hover {
    content: url("../../assets/icon-fav-hover.svg");
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn:active {
    content: url("../../assets/icon-fav-active.svg");
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .downloadBtn {
    cursor: pointer;
    width: 36px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .downloadBtn:hover {
    content: url("../../assets/icon-download-hover.svg");
  }
}
@media (min-width: 1440px) {
  .maximize-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: #FFFFFF;
  }
  .maximize-container .closeBtn {
    cursor: pointer;
    position: absolute;
    width: 14px;
    top: 150px;
    left: unset;
    right: 120px;
  }
  .maximize-container .previous-arrow, .maximize-container .next-arrow {
    z-index: 201;
    display: flex;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: auto;
    top: 390px;
  }
  .maximize-container .previous-arrow img, .maximize-container .next-arrow img {
    width: 100%;
  }
  .maximize-container .previous-arrow {
    left: 165px;
    right: unset;
  }
  .maximize-container .previous-arrow:hover {
    content: url("../../assets/button-slider-left-hover.svg");
  }
  .maximize-container .next-arrow {
    left: unset;
    right: 165px;
  }
  .maximize-container .next-arrow:hover {
    content: url("../../assets/button-slider-right-hover.svg");
  }
  .maximize-container .maximized-gif-card {
    display: flex;
    flex-direction: column;
    width: 795px;
    position: absolute;
    align-self: center;
    justify-self: center;
    top: 200px;
  }
  .maximize-container .maximized-gif-card .gifImage {
    width: 795px;
    height: 435px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .maximize-container .maximized-gif-card .gifDescription {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation {
    color: #000000;
    width: 60%;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation .gifUser {
    font-family: "Montserrat";
    margin: 14px 6px 6px 6px;
    font-size: 12px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifInformation .gifTitle {
    font-family: "Montserrat";
    margin: 0px 6px 6px 6px;
    font-size: 16px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn {
    margin-right: 20px;
    cursor: pointer;
    width: 36px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .favoriteBtn:hover {
    content: url("../../assets/icon-fav-hover.svg");
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .downloadBtn {
    cursor: pointer;
    width: 36px;
  }
  .maximize-container .maximized-gif-card .gifDescription .gifButtonContainer .downloadBtn:hover {
    content: url("../../assets/icon-download-hover.svg");
  }
}
.gif-search-results {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  justify-content: center;
}
.gif-search-results .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gif-search-results .title-container img {
  width: 28px;
  height: 21px;
  align-self: center;
}
.gif-search-results .title-container .title {
  text-align: center;
  color: #572EE5;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  margin: 65px 0px 60px 0px;
}
.gif-search-results .lorem-container {
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
}
.gif-search-results .lorem-container img {
  align-self: center;
  width: 150px;
  height: 150px;
}
.gif-search-results .lorem-container .title {
  text-align: center;
  color: #50E3C2;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  margin: 65px 0px 60px 0px;
  max-width: 431px;
}
.gif-search-results .gif-container {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding: 0px 21px;
  grid-template-columns: repeat(2, 156px);
  grid-auto-rows: minmax(120px, 130px);
  column-gap: 21px;
  row-gap: 25px;
  z-index: 100;
}
.gif-search-results .gif-container .gif-card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 156px;
  height: 120px;
  cursor: pointer;
}
.gif-search-results .gif-container .gif-card .gifImage {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.gif-search-results .gif-container .gif-card .hoverGif {
  display: none;
  position: absolute;
  background-color: rgba(87, 46, 229, 0.7);
  width: 100%;
  height: 100%;
}
.gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}
.gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn {
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin-left: 10px;
}
.gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn:hover {
  content: url("../../assets/icon-fav-hover.svg");
}
.gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn:hover {
  content: url("../../assets/icon-download-hover.svg");
}
.gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn:hover {
  content: url("../../assets/icon-max-hover.svg");
}
.gif-search-results .gif-container .gif-card .hoverGif .gifInformation {
  margin-top: 60px;
}
.gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifUser {
  margin: 5px 0px;
  font-family: "Roboto";
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}
.gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifTitle {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}
.gif-search-results .btn-VerMas {
  display: none;
  margin: 80px 0px;
  align-self: center;
  width: 127px;
  cursor: pointer;
}
.gif-search-results .btn-VerMas img {
  width: 100%;
}
.gif-search-results .btn-VerMas img:hover {
  content: url("../../assets/CTA-ver-mas-hover.svg");
}

@media (min-width: 768px) {
  .gif-search-results {
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: center;
  }
  .gif-search-results .title-container .title {
    text-align: center;
    color: #572EE5;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    margin: 65px 0px 60px 0px;
  }
  .gif-search-results .lorem-container {
    flex-direction: column;
    justify-content: center;
  }
  .gif-search-results .lorem-container img {
    align-self: center;
    width: 150px;
    height: 150px;
  }
  .gif-search-results .lorem-container .title {
    text-align: center;
    color: #50E3C2;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    margin: 65px 0px 60px 0px;
    max-width: 431px;
  }
  .gif-search-results .gif-container {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    padding: 0px 21px;
    grid-template-columns: repeat(3, 220px);
    grid-auto-rows: minmax(170px, 170px);
    column-gap: 21px;
    row-gap: 25px;
  }
  .gif-search-results .gif-container .gif-card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  .gif-search-results .gif-container .gif-card:hover .hoverGif {
    display: block;
  }
  .gif-search-results .gif-container .gif-card .gifImage {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  .gif-search-results .gif-container .gif-card .hoverGif {
    position: absolute;
    background-color: rgba(87, 46, 229, 0.7);
    width: 100%;
    height: 100%;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn {
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn:hover {
    content: url("../../assets/icon-fav-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn:active {
    content: url("../../assets/icon-fav-active.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn:hover {
    content: url("../../assets/icon-download-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn:hover {
    content: url("../../assets/icon-max-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation {
    margin-top: 35px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifUser {
    margin: 0px 0px 5px 0px;
    font-family: "Roboto";
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifTitle {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .gif-search-results .btn-VerMas {
    margin-top: 80px;
    align-self: center;
    width: 127px;
    cursor: pointer;
  }
  .gif-search-results .btn-VerMas img {
    width: 100%;
  }
  .gif-search-results .btn-VerMas img:hover {
    content: url("../../assets/CTA-ver-mas-hover.svg");
  }
}
@media (min-width: 1440px) {
  .gif-search-results {
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: center;
  }
  .gif-search-results .title-container {
    display: flex;
    flex-direction: column;
  }
  .gif-search-results .title-container .title {
    text-align: center;
    color: #572EE5;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    margin: 65px 0px 60px 0px;
  }
  .gif-search-results .lorem-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .gif-search-results .lorem-container img {
    align-self: center;
    width: 150px;
    height: 150px;
  }
  .gif-search-results .lorem-container .title {
    text-align: center;
    color: #50E3C2;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    margin: 65px 0px 60px 0px;
    max-width: 431px;
    align-self: center;
  }
  .gif-search-results .gif-container {
    justify-content: center;
    margin: 0 auto;
    display: grid;
    padding: 0px 21px;
    grid-template-columns: repeat(4, 260px);
    grid-auto-rows: minmax(200px, 200px);
    column-gap: 21px;
    row-gap: 30px;
  }
  .gif-search-results .gif-container .gif-card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  .gif-search-results .gif-container .gif-card:hover .hoverGif {
    display: block;
  }
  .gif-search-results .gif-container .gif-card .gifImage {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  .gif-search-results .gif-container .gif-card .hoverGif {
    position: absolute;
    background-color: rgba(87, 46, 229, 0.7);
    width: 100%;
    height: 100%;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn, .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn {
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn:hover {
    content: url("../../assets/icon-fav-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn:active {
    content: url("../../assets/icon-fav-active.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn:hover {
    content: url("../../assets/icon-download-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn:hover {
    content: url("../../assets/icon-max-hover.svg");
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation {
    margin-top: 55px;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifUser {
    margin: 5px 0px;
    font-family: "Roboto";
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .gif-search-results .gif-container .gif-card .hoverGif .gifInformation .gifTitle {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .gif-search-results .btn-VerMas {
    margin-top: 80px;
    align-self: center;
    width: 127px;
    cursor: pointer;
  }
  .gif-search-results .btn-VerMas img {
    width: 100%;
  }
  .gif-search-results .btn-VerMas img:hover {
    content: url("../../assets/CTA-ver-mas-hover.svg");
  }
}
.trending-carrousel {
  background-color: #F3F5F8;
  padding-bottom: 82px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.trending-carrousel .trending-title {
  padding-top: 46px;
  color: #572EE5;
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.trending-carrousel .description {
  margin-top: 7px;
  height: 46px;
  color: #000000;
  line-height: 23px;
  text-align: center;
  align-items: center;
}
.trending-carrousel .description .slice {
  display: block;
  font-family: "Roboto";
  font-size: 16px;
}
.trending-carrousel .carrousel-container {
  height: 187px;
  margin-top: 32px;
}
.trending-carrousel .carrousel-container .static-container {
  display: flex;
  align-items: center;
  height: 187px;
}
.trending-carrousel .carrousel-container .static-container .control-trending {
  background-color: #F3F5F8;
  cursor: pointer;
}
.trending-carrousel .carrousel-container .static-container #control-left {
  display: none;
  z-index: 100;
  padding: 120px 22px 120px 70px;
}
.trending-carrousel .carrousel-container .static-container #control-left:hover {
  content: url("../../assets/button-slider-left-hover.svg");
}
.trending-carrousel .carrousel-container .static-container #control-right {
  display: none;
  z-index: 100;
  padding: 120px 70px 120px 22px;
  content: url("../../assets/button-slider-right.svg");
}
.trending-carrousel .carrousel-container .static-container #control-right:hover {
  content: url("../../assets/button-slider-right-hover.svg");
}
.trending-carrousel .carrousel-container .static-container .gif-container {
  display: flex;
  overflow-x: scroll;
  padding-left: 22px;
}
.trending-carrousel .carrousel-container .static-container .gif-container::-webkit-scrollbar {
  display: none;
}
.trending-carrousel .carrousel-container .static-container .gif-container .gif-card {
  display: flex;
  justify-content: center;
  width: 257px;
  min-width: 257px;
  margin: 0px 22px 0px 0px;
  height: 185px;
  cursor: pointer;
}
.trending-carrousel .carrousel-container .static-container .gif-container .gif-card .gifImage {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif {
  display: none;
  position: absolute;
  background-color: rgba(87, 46, 229, 0.7);
  width: 100%;
  height: 100%;
}
.trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}
.trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn, .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn, .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn {
  cursor: pointer;
  height: 32px;
  width: 32px;
  margin-left: 10px;
}
.trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn:hover {
  content: url("../../assets/icon-fav-hover.svg");
}
.trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn:hover {
  content: url("../../assets/icon-download-hover.svg");
}
.trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn:hover {
  content: url("../../assets/icon-max-hover.svg");
}
.trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifInformation {
  margin-top: 60px;
}
.trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifInformation .gifUser {
  margin: 5px 0px;
  font-family: "Roboto";
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}
.trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifInformation .gifTitle {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .trending-carrousel {
    background-color: #F3F5F8;
    padding-bottom: 82px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .trending-carrousel .trending-title {
    padding-top: 46px;
    color: #572EE5;
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
  .trending-carrousel .description {
    margin-top: 7px;
    height: 46px;
    color: #000000;
    line-height: 23px;
    text-align: center;
    align-items: center;
  }
  .trending-carrousel .description .slice {
    display: block;
    font-family: "Roboto";
    font-size: 16px;
  }
  .trending-carrousel .carrousel-container {
    height: 220px;
    margin-top: 32px;
  }
  .trending-carrousel .carrousel-container .static-container {
    display: flex;
    align-items: center;
    height: 220px;
  }
  .trending-carrousel .carrousel-container .static-container .control-trending {
    background-color: #F3F5F8;
    cursor: pointer;
  }
  .trending-carrousel .carrousel-container .static-container #control-left {
    display: none;
    padding: 120px 22px 120px 40px;
  }
  .trending-carrousel .carrousel-container .static-container #control-left:hover {
    content: url("../../assets/button-slider-left-hover.svg");
  }
  .trending-carrousel .carrousel-container .static-container #control-right {
    display: none;
    padding: 120px 40px 120px 22px;
    content: url("../../assets/button-slider-right.svg");
  }
  .trending-carrousel .carrousel-container .static-container #control-right:hover {
    content: url("../../assets/button-slider-right-hover.svg");
  }
  .trending-carrousel .carrousel-container .static-container .gif-container {
    display: flex;
    overflow-x: scroll;
    padding-left: 25px;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container::-webkit-scrollbar {
    display: none;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card {
    display: flex;
    justify-content: center;
    width: 300px;
    min-width: 300px;
    margin: 0px 22px 0px 0px;
    height: 220px;
    cursor: pointer;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .gifImage {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif {
    display: none;
    position: absolute;
    background-color: rgba(87, 46, 229, 0.7);
    width: 100%;
    height: 100%;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn, .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn, .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn {
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn:hover {
    content: url("../../assets/icon-fav-hover.svg");
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn:hover {
    content: url("../../assets/icon-download-hover.svg");
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn:hover {
    content: url("../../assets/icon-max-hover.svg");
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifInformation {
    margin-top: 60px;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifInformation .gifUser {
    margin: 5px 0px;
    font-family: "Roboto";
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifInformation .gifTitle {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
  }
}
@media (min-width: 1440px) {
  .trending-carrousel {
    background-color: #F3F5F8;
    padding-bottom: 82px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .trending-carrousel .trending-title {
    padding-top: 46px;
    color: #572EE5;
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
  .trending-carrousel .description {
    margin-top: 7px;
    height: 46px;
    color: #000000;
    line-height: 23px;
    text-align: center;
    align-items: center;
  }
  .trending-carrousel .description .slice {
    display: block;
    font-family: "Roboto";
    font-size: 16px;
  }
  .trending-carrousel .carrousel-container {
    height: 275px;
    margin-top: 32px;
  }
  .trending-carrousel .carrousel-container .static-container {
    display: flex;
    align-items: center;
    height: 275px;
  }
  .trending-carrousel .carrousel-container .static-container .control-trending {
    background-color: #F3F5F8;
    cursor: pointer;
  }
  .trending-carrousel .carrousel-container .static-container #control-left {
    display: block;
    padding: 120px 22px 120px 70px;
  }
  .trending-carrousel .carrousel-container .static-container #control-left:hover {
    content: url("../../assets/button-slider-left-hover.svg");
  }
  .trending-carrousel .carrousel-container .static-container #control-right {
    display: block;
    padding: 120px 70px 120px 22px;
    content: url("../../assets/button-slider-right.svg");
  }
  .trending-carrousel .carrousel-container .static-container #control-right:hover {
    content: url("../../assets/button-slider-right-hover.svg");
  }
  .trending-carrousel .carrousel-container .static-container .gif-container {
    display: flex;
    overflow-x: scroll;
    padding-left: 30px;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container::-webkit-scrollbar {
    display: none;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card {
    display: flex;
    justify-content: center;
    width: 357px;
    min-width: 357px;
    margin: 0px 30px 0px 0px;
    height: 275px;
    cursor: pointer;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .gifImage {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif {
    display: none;
    position: absolute;
    background-color: rgba(87, 46, 229, 0.7);
    width: 100%;
    height: 100%;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn, .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn, .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn {
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .favoriteBtn:hover {
    content: url("../../assets/icon-fav-hover.svg");
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .downloadBtn:hover {
    content: url("../../assets/icon-download-hover.svg");
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifButtonContainer .expandBtn:hover {
    content: url("../../assets/icon-max-hover.svg");
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifInformation {
    margin-top: 60px;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifInformation .gifUser {
    margin: 5px 0px;
    font-family: "Roboto";
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .trending-carrousel .carrousel-container .static-container .gif-container .gif-card .hoverGif .gifInformation .gifTitle {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
  }
}
/* 
  FOOTER MOBILE
*/
.footer-container {
  border: 1px solid #FFFFFF;
  bottom: 0px;
  border-bottom: 1px solid #572EE5;
  display: flexbox;
  background-color: #FFFFFF;
}
.footer-container .title {
  width: 99px;
  margin: auto;
  margin-top: 47px;
  font-family: "Roboto";
  line-height: 18px;
}
.footer-container .title span {
  font-family: "Roboto";
  font-size: 16px;
  color: #000000;
}
.footer-container .social-logos {
  display: flex;
  margin: auto;
  margin-top: 24px;
  width: 95px;
  justify-content: space-between;
}
.footer-container .social-logos .social-icon {
  width: 18px;
  height: 18px;
}
.footer-container .social-logos .facebook {
  content: url("../../assets/icon_facebook.svg");
  cursor: pointer;
}
.footer-container .social-logos .facebook:hover {
  content: url("../../assets/icon_facebook_hover.svg");
}
.footer-container .social-logos .twitter {
  content: url("../../assets/icon-twitter.svg");
  cursor: pointer;
}
.footer-container .social-logos .twitter:hover {
  content: url("../../assets/icon-twitter-hover.svg");
}
.footer-container .social-logos .instagram {
  content: url("../../assets/icon_instagram.svg");
  cursor: pointer;
}
.footer-container .social-logos .instagram:hover {
  content: url("../../assets/icon_instagram-hover.svg");
}
.footer-container .text-container {
  margin: 47.8px auto 28px auto;
  width: 222px;
  justify-content: center;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 20px;
}
.footer-container .menu-bar {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}

/* 
   END FOOTER MOBILE
*/
/* 
   FOOTER TABLET
*/
@media (min-width: 771px) {
  .footer-container .top-footer {
    margin: 50px 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  .footer-container .top-footer .title {
    width: 100px;
    margin: 0px 0px 0px 80px;
  }
  .footer-container .top-footer .social-logos {
    flex-direction: row;
    margin: 0px 0px 0px 15px;
  }
  .footer-container .top-footer .text-container {
    display: flex;
    margin: 0px 80px 0px auto;
    text-align: right;
  }
}
/* 
   END FOOTER TABLET
*/
/* 
   FOOTER DESKTOP
*/
@media (min-width: 1440px) {
  .footer-container .top-footer .title {
    margin: 0px 0px 0px 156px;
  }
  .footer-container .top-footer .social-logos {
    margin: 0px 0px 0px 17px;
  }
  .footer-container .top-footer .text-container {
    margin: 0px 156px 0px auto;
  }
}
/* 
   END FOOTER DESKTOP
*/

/*# sourceMappingURL=myGifos.css.map */
