@import 'variables';

@-moz-keyframes spin { 
   100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin {
   100% {  -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); } 
}

@-moz-keyframes flash { 
   1% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}
@-webkit-keyframes flash {
   1% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}
@keyframes flash {
   1% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}



.createGif-section{
   display: flex;
   flex-direction: column;

   body.dark & {
      background-color: $dark-background;
   }

   .camera-container{
      position: relative;
      align-self: center;
      width: 80px;
      margin: 20px;
      height: 100px;
      
      #camera-img{
         position: absolute;
         top: 20px;
         left: unset;
         right: unset;
         width: 86px;
         height: auto;
         body.dark & {
            content: url('../../assets/element-camara.svg');
         }
      }

      #camera-film1{
         position: absolute;
         top: -10px;
         left: 0%;
         right: unset;
         width: 36px;
         height: auto;
         -webkit-animation:spin 6s linear infinite;
         -moz-animation:spin 6s linear infinite;
         animation:spin 6s linear infinite;

         body.dark & {
            content: url('../../assets/element_cinta1-modo-noc.svg');
         }
      }

      #camera-film2{
         position: absolute;
         top: -20px;
         left: 48%;
         right: unset;
         width: 46px;
         height: auto;
         -webkit-animation:spin 4s linear infinite;
         -moz-animation:spin 4s linear infinite;
         animation:spin 4s linear infinite;
         body.dark & {
            content: url('../../assets/element_cinta2-modo-noc.svg');
         }
      }

      #camera-light{
         position: absolute;
         top: 0px;
         left: 86px;
         right: unset;
         height: 80px;
         width: auto;
         animation: flash .3s linear infinite;
      }
   }

   .screen-container{
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 100%;
      

      .screen{
         display: none;
         flex-direction: column;
         max-width: 688px;
         width: 100%;
         height: 300px;
         border: 1px solid $purple-gifos;
         background-color: $white-gifos;
         margin: 5px auto 0px;
         text-align: center;
         position: relative;

         body.dark &{
            border: 1px solid $green-gifos;
            background-color: unset;
         }


         .title{
            color: $purple-gifos;
            font-size: 25px;
            line-height: 35px;
            font-weight: 700;
            font-family: $font-bold;
            width: 230px;
            margin: 50px auto 15px auto;
            
            span{
              color: $green-gifos;
            }
          }
          p{    
            color: $black-gifos;
            font-size: 15px;
            line-height: 25px;
            font-weight: 500;
            width: 230px;
            font-family: $font-regular;
            margin: 0px auto;
            body.dark & {
               color: $white-gifos;
            }
          }
      }

      .corners{
         display: flex;
         justify-self: center;
         position: relative;
         margin: 0px auto -300px auto;
         z-index: 150;
         border: unset;
         background-color: unset;
         right: 0px;


         .corner-box{
            position: absolute;
            width: 90%;
            max-width: 596px;
            height: 270px;
            top: 20px;
            left: 15px;
            right: unset;
            
            .corner1, .corner2, .corner3, .corner4{
              position: absolute;
              width: 27px;
              height: 27px;
              border-top: 1px solid $green-gifos;
              border-left: 1px solid $green-gifos;
    
            }
            .corner1{
              top: 0px;
              bottom: unset;
              left: 0px;
              right: unset;
              transform: rotate(0deg);
            }
            .corner2{
              top: 0px;
              bottom: 0px;
              left: unset;
              right: 0px;
              transform: rotate(90deg);
            }
            .corner3{
              top: unset;
              bottom: 0px;
              left: 0px;
              right: unset;
              transform: rotate(270deg);
            }
            .corner4{
              top: unset;
              bottom: 0px;
              left: unset;
              right: 0px;
              transform: rotate(180deg);
            }
    
         }
      }

      .scStep1{
         display: flex;
         body.dark & {
            background-color: $dark-background;
         }
      }

      .scStep2{
         body.dark & {
            background-color: $dark-background;
         }
      }

      .scStep3{
         justify-content:center;
         align-items: center;
         body.dark & {
            background-color: $dark-background;
         }
         video {
            width: 100%;
            max-width: 480px;
            height: 100%;
            max-height: 320px;
         }
      }

      .scStep4, .scStep5{
         display: none;
         position: relative;
         flex-direction: column;
         justify-content: center;
         z-index: 100;
         .content{
            z-index: 200;
               display: flex;
               flex-direction: column;
               height: 100%;
               width: 100%;
               margin: 0px auto;
               align-self: center;
               background-color: $menu-purple;
               justify-self: center;
               justify-content: center;
               position: relative;

            img{
               width: 22px;
               height: auto;
               align-self: center;
            }
            p{
               align-self: center;
               margin: 10px;
               text-align: center;
               color: $white-gifos;
            }
         }
         
         .btnContainerStep5{
            display: flex;
            position: absolute;
            left: unset;
            right: 10px;
            top: 12px;
            z-index: 300;

            .downloadBtn, .linkBtn{
               cursor: pointer;
               width: 32px;
               margin-right: 10px;
               height: auto;
            }
            .downloadBtn{
               &:hover{
                  content: url('../../assets/icon-download-hover.svg')
               }
            }
            .linkBtn{
               &:hover{
                  content: url('../../assets/icon-link-hover.svg')
               }
            }
         }
      }


      .steps-container{
         margin: 20px;
         display: flex;
         justify-content: center;

         .step{
            margin: 5px;
         }

         .stepOne{
            body.dark & {
               content: url('../../assets/paso-a-paso-mod-noc.svg');
            }
         }
         
         .stepTwo{
            body.dark & {
               content: url('../../assets/paso-a-paso-mod-noc2.svg');
            }
         }

         .stepThree{
            body.dark & {
               content: url('../../assets/paso-a-paso-mod-noc3.svg');
            }
         }

         &.one {
            .stepOne{
               content: url('../../assets/paso-a-paso-hover.svg');
               body.dark & {
                  content: url('../../assets/paso-a-paso-hover-mod-noc.svg');
               }
            }
         }

         &.two {
            .stepTwo{
               content: url('../../assets/paso-a-paso-hover2.svg');
               body.dark & {
                  content: url('../../assets/paso-a-paso-hover-mod-noc2.svg');
               }
            }
         }
            
         &.three {
            .stepThree{
               content: url('../../assets/paso-a-paso-hover3.svg');
               body.dark & {
                  content: url('../../assets/paso-a-paso-hover-mod-noc3.svg');
               }
            }
         }



         .clock{
            display: none;
            margin: 5px;
            align-self: center;
            
         }
         
         .crono{
            display: none;
            color: $purple-gifos;
            font-size: 16px;
            line-height: 25px;
            font-weight: 400;
            font-family: $font-bold;
            margin: 10px;
            align-items: center;
            body.dark & {
               color: $green-gifos;
            }
    
         }
         .repeat{
            display: none;
            color: $purple-gifos;
            font-size: 13px;
            font-weight: 400;
            font-family: $font-bold;
            align-items: center;
            border-bottom: 3px solid $white-gifos;
            margin: 10px;
            cursor: pointer;
            
            &:hover{
               border-bottom: 3px solid $purple-gifos;
               cursor: pointer;
            }
            body.dark & {
               color: $green-gifos;
     
               &:hover{
                 border-bottom: 3px solid $green-gifos;
                 cursor: pointer;
               }
            }
         }
         
      }

      .menu-bar{
         width: 100%;
         height: 5px;
         background-color: $purple-gifos;
         body.dark &{
            background-color: $green-gifos; 
         }
       }

      .button-container{
         display: flex;
         margin: 20px 5px;
         cursor: pointer;
         justify-content: center;

         .createBtn{
            display: none; 
         }

         .startBtn{
            display: flex;
            &:hover{
               content: url('../../assets/CTA-comenzar-hover.svg')
            }
            body.dark &{
               content: url('../../assets/CTA-comenzar-modo-noc.svg');
     
               &:hover{
                 content: url('../../assets/CTA-comenzar+-modo-noc.svg');
               }
               
            }
         }

         .recordBtn{
            &:hover{
               content: url('../../assets/CTA-record-hover.svg')
            }

            body.dark &{
               content: url('../../assets/CTA-record-modo-noc.svg');
     
               &:hover{
                 content: url('../../assets/CTA-record+-modo-noc.svg');
               }
               
            }
         }
   
         .finishBtn{
            &:hover{
               content: url('../../assets/CTA-finalizar-hover.svg')
            }
            body.dark &{
               content: url('../../assets/CTA-finalizar-modo-noc.svg');
     
               &:hover{
                 content: url('../../assets/CTA-finalizar+-modo-noc.svg');
               }
               
            }
         }

         .uploadBtn{
            &:hover{
               content: url('../../assets/CTA-upload-hover.svg')
            }
            body.dark &{
               content: url('../../assets/CTA-upload-modo-noc.svg');
     
               &:hover{
                 content: url('../../assets/CTA-upload+-modo-noc.svg');
               }
               
            }
         }


      }




   }

   .tape-container{
      align-self: center;
      width: 80px;
      margin: 20px;

      img{
         width: 100%;
         height: 100%;
         body.dark & {
            content: url('../../assets/pelicula-modo-noc.svg')
         }
      }
   }

}

@media (min-width:1440px){
   .createGif-section{
      display: flex;
      flex-direction: row;
      justify-content: center;
   
      .camera-container{
         align-self: flex-start;
         width: 80px;
         margin: 0px;
         min-width: 376px;
         height: 100%;
         position: relative;
         #camera-img{
            position: absolute;
            top: 170px;
            left: unset;
            right: 91px;
            width: 116px;
            height: auto;
            body.dark & {
               content: url('../../assets/element-camara.svg');
            }
         }
   
         #camera-film1{
            position: absolute;
            top: 111px;
            left: unset;
            right: 91px;
            width: 65px;
            height: auto;
            body.dark & {
               content: url('../../assets/element_cinta1-modo-noc.svg');
            }
         }
   
         #camera-film2{
            position: absolute;
            top: 129px;
            left: unset;
            right: 160px;
            width: 48px;
            height: auto;
            body.dark & {
               content: url('../../assets/element_cinta2-modo-noc.svg');
            }
         }
      

         #camera-light{
            position: absolute;
            top: 145px;
            left: unset;
            right: 28px;
            height: 105px;
            width: auto;
         }
      }
   
      .screen-container{
         display: flex;
         flex-direction: column;
         align-self: center;
         min-width: 796px;
         
         

         .screen{
            display: none;
            max-width: 688px;
            height: 390px;
            border: 1px solid $purple-gifos;
            background-color: $white-gifos;
            margin: 5px auto 0px;
            text-align: center;

            .content{
               display: flex;
               flex-direction: column;
               max-height: 320px;
               max-width: 480px;
               margin: 50px auto;
               align-self: center;
               justify-self: center;
               
               .title{
                  color: $purple-gifos;
                  font-size: 25px;
                  line-height: 35px;
                  font-weight: 700;
                  font-family: $font-bold;
                  width: 230px;
                  margin: 50px auto 15px auto;
                  
                  span{
                    color: $green-gifos;
                  }
                }
                p{    
                  color: $black-gifos;
                  font-size: 15px;
                  line-height: 25px;
                  font-weight: 500;
                  width: 230px;
                  font-family: $font-regular;
                  margin: 0px auto;
                  
                }
            }
   
         }

         .corners{
            display: flex;
            justify-self: center;
            position: relative;
            margin: 0px auto -390px auto;
            z-index: 150;
            border: unset;
            background-color: unset;
            right: 0px;
            
   
            .corner-box{
               position: absolute;
               width: 95%;
               max-width: 650px;
               height: 360px;
               top: 20px;
               left: 20px;
               right: auto;
               
               .corner1, .corner2, .corner3, .corner4{
                 position: absolute;
                 width: 27px;
                 height: 27px;
                 border-top: 1px solid $green-gifos;
                 border-left: 1px solid $green-gifos;
       
               }
               .corner1{
                 top: 0px;
                 bottom: unset;
                 left: 0px;
                 right: unset;
                 transform: rotate(0deg);
               }
               .corner2{
                 top: 0px;
                 bottom: 0px;
                 left: unset;
                 right: 0px;
                 transform: rotate(90deg);
               }
               .corner3{
                 top: unset;
                 bottom: 0px;
                 left: 0px;
                 right: unset;
                 transform: rotate(270deg);
               }
               .corner4{
                 top: unset;
                 bottom: 0px;
                 left: unset;
                 right: 0px;
                 transform: rotate(180deg);
               }
       
             }
         }
   
         .scStep1{
            display: flex;
            
         }
   
         .scStep2{
            
         }
   
         .scStep3{
            video {
               width: 100%;
               height: 100%;
            }
         }
   
         .scStep4, .scStep5{
            display: none;
            flex-direction: column;
            position: relative;
            justify-content: center;
            z-index: 100;
            
            .content{
               z-index: 200;
               display: flex;
               flex-direction: column;
               height: 320px;
               width: 480px;
               margin: 50px auto;
               align-self: center;
               background-color: $menu-purple;
               justify-self: center;
               justify-content: center;
               position: relative;

               img{
                  width: 22px;
                  height: auto;
                  align-self: center;
               }
               p{
                  align-self: center;
                  margin: 10px auto;
                  text-align: center;
                  color: $white-gifos;
               }
               .btnContainerStep5{
                  display: flex;
                  position: absolute;
                  left: unset;
                  right: 2px;
                  top: 12px;
         
                  .downloadBtn, .linkBtn{
                     cursor: pointer;
                     width: 32px;
                     margin-right: 10px;
                     height: auto;
                  }
   
               }
            }
   

            
         }
   
   
         .steps-container{
            display: flex;
            margin: 20px 0px 20px 42%;
            justify-content: unset;
            
            
   
            .step{
               margin: 5px;
            }
   
            .stepOne{
   
               
            }
            
            .stepTwo{
   
            }
   
            .stepThree{
   
            }
   
            &.one {
               .stepOne{
                  content: url('../../assets/paso-a-paso-hover.svg');
               }
            }
   
            &.two {
               .stepTwo{
                  content: url('../../assets/paso-a-paso-hover2.svg');
               }
            }
   
            &.three {
               .stepThree{
                  content: url('../../assets/paso-a-paso-hover3.svg');
               }
            }
            
            .crono{
               display: none;
               color: $purple-gifos;
               font-size: 16px;
               line-height: 25px;
               font-weight: 400;
               font-family: $font-bold;
               margin: 10px 0px 10px 210px;
               align-items: center;
       
            }
            .repeat{
               display: none;
               color: $purple-gifos;
               font-size: 13px;
               font-weight: 400;
               font-family: $font-bold;
               align-items: center;
               border-bottom: 3px solid $white-gifos;
               margin: 10px 0px 10px 155px;
               cursor: pointer;
               
               &:hover{
                  border-bottom: 3px solid $purple-gifos;
                  cursor: pointer;
               }
            }
            
         }
   
         .button-container{
            display:flex;
            margin: 20px 5px;
            cursor: pointer;
            justify-content: center;
   
            .createBtn{
               display: none;
               
            }
   
            .startBtn{
               display: flex;
               &:hover{
                  content: url('../../assets/CTA-comenzar-hover.svg')
               }
            }
   
            .recordBtn{
               &:hover{
                  content: url('../../assets/CTA-record-hover.svg')
               }
            }
      
            .finishBtn{
               &:hover{
                  content: url('../../assets/CTA-finalizar-hover.svg')
               }
            }
   
            .uploadBtn{
               &:hover{
                  content: url('../../assets/CTA-upload-hover.svg')
               }
            }
   
   
         }
   
   
   
   
      }
   
      .tape-container{
         align-self: flex-start;
         min-width: 376px;
         margin: 0px;
         height: 100%;
         position: relative;
         
         
   
         #tape-img{
            position: absolute;
            top: 382px;
            left: 0px;
            width: 130px;
            height: auto;
         }
      }
   
   }
}