
@import 'variables';

/* 
  FOOTER MOBILE
*/
.footer-container{
  border: 1px solid $white-gifos;
  bottom: 0px;
  border-bottom: 1px solid $purple-gifos;
  display: flexbox;
  background-color: $white-gifos;
  


  .title{
    width: 99px;
    margin: auto;
    margin-top: 47px;
    font-family: $font-regular;
    line-height: 18px;

    span{
      font-family: $font-regular;
      font-size: 16px;
      color: $black-gifos;
      
    }
  }

  .social-logos{
    display: flex;
    margin: auto;
    margin-top: 24px;
    width: 95px;
    justify-content: space-between;

    .social-icon{
      width: 18px;
      height: 18px;
    }
    .facebook{
      content: url('../../assets/icon_facebook.svg');
      cursor: pointer;
    }
    .facebook:hover{
      content: url('../../assets/icon_facebook_hover.svg');
    }
    
    .twitter{
      content: url('../../assets/icon-twitter.svg');
      cursor: pointer;
    }
    .twitter:hover{
      content: url('../../assets/icon-twitter-hover.svg');
    }
    .instagram{
      content: url('../../assets/icon_instagram.svg');
      cursor: pointer;
    }
    .instagram:hover{
      content: url('../../assets/icon_instagram-hover.svg');
    }
    

  }

  .text-container{
    margin: 47.8px auto 28px auto;
    width: 222px;
    justify-content: center;
    font-family: $font-regular;
    font-size: 14px;
    line-height: 20px;
    
  }

  .menu-bar{
    width: 100%;
    height: 5px;
    background-color: $purple-gifos;
    
  }
}
/* 
   END FOOTER MOBILE
*/

/* 
   FOOTER TABLET
*/
@media(min-width:771px){
  .footer-container{

    .top-footer{
      margin: 50px 0px ;
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      
      .title{
        width: 100px;
        margin: 0px 0px 0px 80px ;
    
      }
    
      .social-logos{
        flex-direction: row;        
        margin: 0px 0px 0px 15px;
      }
    
      .text-container{
        
        display: flex;
        margin: 0px 80px 0px auto;
        text-align: right;
      }
    }
  }
}
/* 
   END FOOTER TABLET
*/

/* 
   FOOTER DESKTOP
*/
@media(min-width:1440px){
  .footer-container{

    .top-footer{      
    
      .title{
        margin: 0px 0px 0px 156px ;
  
      }
    
      .social-logos{
        margin: 0px 0px 0px 17px;
      }
    
      .text-container{
        margin: 0px 156px 0px auto;
      }
    }
  }
}
/* 
   END FOOTER DESKTOP
*/