@import 'variables';

.gif-search-results{
   border: 1px solid $white-gifos;
   display: flex;
   flex-direction: column;
   background-color: $white-gifos;
   justify-content: center;
   body.dark & {
      background-color: $dark-background;
      border: 1px solid $dark-background;
   }

 
   .division{
     display: none;
     margin-top: 55px;
     width: 157px;
     margin: 0 auto;
   }

   .title-container{
      display: none;
      justify-content:center;

     .title{
       text-align: center;
       color: $purple-gifos;
       font-family: $font-bold;
       font-weight: 700;
       font-size: 25px;
       line-height: 40px;
       margin: 65px 0px 60px 0px;
       body.dark & {
         color: $white-gifos;
       }
     }
   }
   .lorem-container{
      display: flex;
      display: none;
      flex-direction: column;
      justify-content: center;

      img{
         align-self: center;
         width: 109px;
      }

      .title{
         text-align: center;
         color: $green-gifos;
         font-family: $font-bold;
         font-weight: 700;
         font-size: 20px;
         line-height: 40px;
         margin: 65px 0px 60px 0px;
       }
   }
   .gif-container{
   
      display: grid;
      justify-content: center;
      margin: 0 auto;
      padding: 0px 21px;
      grid-template-columns: repeat(2, 156px);
      grid-auto-rows: minmax(120px, 130px);
      column-gap: 21px;
      row-gap: 25px;
      z-index: 100;
   
      .gif-card{
         position: relative;
         display: flex;
         justify-content: center;
         width: 156px;
         height: 120px;
         cursor: pointer;
         
         .gifImage{
            background-color: $white-gifos;
            width: 100%;
            height: 100%;
            body.dark & {
               background-color: $dark-background;
            }
         }
         
         .hoverGif{
            display: none;
            position: absolute;
            background-color: $hoverColor;
            width: 100%;
            height: 100%;
            
            .gifButtonContainer{
               display: flex;
               justify-content: flex-end;
               width: 100%;
               padding: 10px;
   
               .favoriteBtn, .downloadBtn, .expandBtn{
                  cursor: pointer;
                  height: 32px;
                  width: 32px;
                  margin-left: 10px;
   
               }
   
               .favoriteBtn{
                  &:hover{
                     content: url('../../assets/icon-fav-hover.svg')
                  }                  

               }
               
               .downloadBtn{
                  &:hover{
                     content: url('../../assets/icon-download-hover.svg')
                  }
                  
               }
               
               .expandBtn{
                  &:hover{
                     content: url('../../assets/icon-max-hover.svg')
                  }
                  
                  
               }
            }
   
            .gifInformation{
               margin: 60px 0px 0px 15px;

               .gifUser{
                  margin: 5px 0px;
                  font-family: $font-regular;
                  font-size: 13px;
                  line-height: 15px;
                  color: $white-gifos;
                }
   
                .gifTitle{
                  font-family: $font-bold;
                  font-size: 14px;
                  line-height: 15px;
                  color: $white-gifos;
                }
            }
         }
      }
   }
   
   .btn-VerMas{
      display: none;
      margin: 80px 0px;
      align-self: center;
      width:127px;
      cursor: pointer;
      img{
         width: 100%;
   
         &:hover{
            content: url('../../assets/CTA-ver-mas-hover.svg')
         }
         body.dark &{
            content: url('../../assets/CTA-ver+-modo-noc.svg');
            
            &:hover{
              content: url('../../assets/CTA-ver+hover-modo-noc.svg');
            }
         }
      }
   }
 }

@media (min-width: 768px){

.gif-search-results{
   border: 1px solid $white-gifos;
   display: flex;
   flex-direction: column;
   background-color: $white-gifos;
   justify-content: center;

 
   .division{
     
     margin-top: 55px;
     width: 157px;
     margin: 0 auto;
   }

   .title-container{


      .title{
         text-align: center;
         color: $purple-gifos;
         font-family: $font-bold;
         font-weight: 700;
         font-size: 25px;
         line-height: 40px;
         margin: 65px 0px 60px 0px;
      }
   }
   .lorem-container{
      
      flex-direction: column;
      justify-content: center;

      img{
         align-self: center;
         width: 109px;
      }

      .title{
         text-align: center;
         color: $green-gifos;
         font-family: $font-bold;
         font-weight: 700;
         font-size: 20px;
         line-height: 40px;
         margin: 65px 0px 60px 0px;
       }
   }
   .gif-container{
   
      display: grid;
      justify-content: center;
      margin: 0 auto;
      padding: 0px 21px;
      grid-template-columns: repeat(3, 220px);
      grid-auto-rows: minmax(170px, 170px);
      column-gap: 21px;
      row-gap: 25px;
   
      .gif-card{
         position: relative;
         display: flex;
         justify-content: center;
         width: 100%;
         height: 100%;
         cursor: default;

         &:hover{
            
            .hoverGif{
               display: block;
            }
         }
         
         .gifImage{
            background-color: $white-gifos;
            width: 100%;
            height: 100%;
         }
         
         .hoverGif{
            position: absolute;
            background-color: $hoverColor;
            width: 100%;
            height: 100%;
            
            .gifButtonContainer{
               display: flex;
               justify-content: flex-end;
               width: 100%;
               padding: 10px;
   
               .favoriteBtn, .downloadBtn, .expandBtn{
                  cursor: pointer;
                  height: 32px;
                  width: 32px;
                  margin-left: 10px;
   
               }
   
               .favoriteBtn{
                  &:hover{
                     content: url('../../assets/icon-fav-hover.svg')
                  }
                  &:active{
                     content: url('../../assets/icon-fav-active.svg')
                  }
               }
               
               .downloadBtn{
                  &:hover{
                     content: url('../../assets/icon-download-hover.svg')
                  }
                  
               }
               
               .expandBtn{
                  &:hover{
                     content: url('../../assets/icon-max-hover.svg')
                  }
                  
                  
               }
            }
   
            .gifInformation{
               margin-top: 35px;

               .gifUser{
                  margin: 0px 0px 5px 0px;
                  font-family: $font-regular;
                  font-size: 13px;
                  line-height: 15px;
                  color: $white-gifos;
                }
   
                .gifTitle{
                  font-family: $font-bold;
                  font-size: 14px;
                  line-height: 15px;
                  color: $white-gifos;
                }
            }
         }
      }
   }
   
   .btn-VerMas{
      margin-top: 80px ;
      align-self: center;
      width:127px;
      cursor: pointer;
      img{
         width: 100%;
   
         &:hover{
            content: url('../../assets/CTA-ver-mas-hover.svg')
         }
      }
   }
 }
}
@media (min-width: 1440px){

.gif-search-results{
   border: 1px solid $white-gifos;
   display: flex;
   flex-direction: column;
   background-color: $white-gifos;
   justify-content: center;

 
   .division{
     
     margin-top: 55px;
     width: 157px;
     margin: 0 auto;
   }

   .title-container{
     .title{
       text-align: center;
       color: $purple-gifos;
       font-family: $font-bold;
       font-weight: 700;
       font-size: 25px;
       line-height: 40px;
       margin: 65px 0px 60px 0px;
     }
   }
   .lorem-container{
      
      flex-direction: column;
      justify-content: center;

      img{
         align-self: center;
         width: 109px;
      }

      .title{
         text-align: center;
         color: $green-gifos;
         font-family: $font-bold;
         font-weight: 700;
         font-size: 20px;
         line-height: 40px;
         margin: 65px 0px 60px 0px;
       }
   }
   .gif-container{
   
      justify-content: center;
      margin: 0 auto;
      display: grid;
      padding: 0px 21px;
      grid-template-columns: repeat(4, 260px);
      grid-auto-rows: minmax(200px, 200px);
      column-gap: 21px;
      row-gap: 30px;
   
      .gif-card{
         position: relative;
         display: flex;
         justify-content: center;
         width: 100%;
         height: 100%;
         cursor: default;

         &:hover{
            
            .hoverGif{
               display: block;
            }
         }
         
         .gifImage{
            background-color: $white-gifos;
            width: 100%;
            height: 100%;
         }
         
         .hoverGif{
            position: absolute;
            background-color: $hoverColor;
            width: 100%;
            height: 100%;
            
            .gifButtonContainer{
               display: flex;
               justify-content: flex-end;
               width: 100%;
               padding: 10px;
   
               .favoriteBtn, .downloadBtn, .expandBtn{
                  cursor: pointer;
                  height: 32px;
                  width: 32px;
                  margin-left: 10px;
   
               }
   
               .favoriteBtn{
                  &:hover{
                     content: url('../../assets/icon-fav-hover.svg')
                  }
                  &:active{
                     content: url('../../assets/icon-fav-active.svg')
                  }
               }
               
               .downloadBtn{
                  &:hover{
                     content: url('../../assets/icon-download-hover.svg')
                  }
                  
               }
               
               .expandBtn{
                  &:hover{
                     content: url('../../assets/icon-max-hover.svg')
                  }
                  
                  
               }
            }
   
            .gifInformation{

               margin-top: 55px;
               .gifUser{
                  margin: 5px 0px;
                  font-family: $font-regular;
                  font-size: 13px;
                  line-height: 15px;
                  color: $white-gifos;
                }
   
                .gifTitle{
                  font-family: $font-bold;
                  font-size: 14px;
                  line-height: 15px;
                  color: $white-gifos;
                }
            }
         }
      }
   }
   
   .btn-VerMas{
      
      margin-top: 80px ;
      align-self: center;
      width:127px;
      cursor: pointer;
      img{
         width: 100%;
   
         &:hover{
            content: url('../../assets/CTA-ver-mas-hover.svg')
         }
      }
   }
 }
}

