@import 'variables';

.maximize-container{
   display: none;
   flex-direction: column;
   justify-content: center;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 200;
   background-color: $white-gifos;

   .closeBtn{
      cursor: pointer;
      position: absolute;
      width: 14px;
      top: 50px;
      left: unset;
      right: 20px;
      
   }

   .previous-arrow, .next-arrow{
      display: none;
   }

   .maximized-gif-card{
      display: flex;
      flex-direction: column;
      width: 318px;
      position: absolute;
      align-self: center;
      justify-self: center;
      top: 128px;
      
   
      .gifImage{
         width: 318px;
         height: 245px;
         object-fit: contain;
         background-color: $hover-white;
         
      }
      
      .gifDescription{
         position: relative;
         background-color: $hover-white;
         padding: 20px 0px;
         width: 100%;
         height: 100%;
         display: flex;
         
         .gifInformation{
            color: $black-gifos;
            width: 60%;
            
            .gifUser{
               font-family: $font-medium;
               margin: 14px 6px 6px 6px;
               font-size: 12px;
               
            }
            
            .gifTitle{
               font-family: $font-medium;
               margin: 0px 6px 6px 6px;
               font-size: 16px;
               
               
   
            }
         }
         
         .gifButtonContainer{
            width: 40%;
            display: flex;
            justify-content: flex-end;
            .favoriteBtn{
               margin-right: 20px;
               cursor: pointer;
               width: 36px;
               &:active{
                  content: url('../../assets/icon-fav-active.svg')
               }
            }
            
            .downloadBtn{
               cursor: pointer;
               width: 36px;
            
            }
         
         }
   

      }
   }
}


@media(min-width: 768px){
   
   .maximize-container{
      display: none;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 200;
      background-color: $white-gifos-transparent;
   
      .closeBtn{
         cursor: pointer;
         position: absolute;
         width: 14px;
         top: 50px;
         left: unset;
         right: 20px;
         
      }
   
      .previous-arrow, .next-arrow{
         z-index: 201;
         display: flex;
         cursor: pointer;
         position: absolute;
         width: 40px;
         height: auto;
         top: 300px;

         img{
            width: 100%;
         }
      }

      .previous-arrow{
         left: 35px;
         right: unset;

         &:hover{
            content: url('../../assets/button-slider-left-hover.svg');
         }
      }
       
      .next-arrow{
         left: unset;
         right: 35px;
         &:hover{
            content: url('../../assets/button-slider-right-hover.svg');
         }
      }
   
      .maximized-gif-card{
         display: flex;
         flex-direction: column;
         width: 595px;
         position: absolute;
         align-self: center;
         justify-self: center;
         top: 128px;
         
      
         .gifImage{
            width: 595px;
            height: 335px;
            object-fit: contain;
            background-color: $hover-white;
             
         }
         
         .gifDescription{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            
            .gifInformation{
               color: $black-gifos;
               width: 60%;
               
               .gifUser{
                  font-family: $font-medium;
                  margin: 14px 6px 6px 6px;
                  font-size: 12px;
                  
               }
               
               .gifTitle{
                  font-family: $font-medium;
                  margin: 0px 6px 6px 6px;
                  font-size: 16px;
                  
      
               }
            }
            
            .gifButtonContainer{
               width: 40%;
               display: flex;
               justify-content: flex-end;
               .favoriteBtn{
                  margin-right: 20px;
                  cursor: pointer;
                  width: 36px;
                  &:hover{
                     content: url('../../assets/icon-fav-hover.svg')
                  }
                  &:active{
                     content: url('../../assets/icon-fav-active.svg')
                  }
               }
               
               .downloadBtn{
                  cursor: pointer;
                  width: 36px;
                  
                  &:hover{
                     content: url('../../assets/icon-download-hover.svg')
                  }
               }
            
            }
      
   
         }
      }
   }
}


@media(min-width: 1440px){
   
   .maximize-container{
      display: none;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 200;
      background-color: $white-gifos-transparent;
   
      .closeBtn{
         cursor: pointer;
         position: absolute;
         width: 14px;
         top: 150px;
         left: unset;
         right: 120px;
         
      }
   
      .previous-arrow, .next-arrow{
         z-index: 201;
         display: flex;
         cursor: pointer;
         position: absolute;
         width: 40px;
         height: auto;
         top: 390px;

         img{
            width: 100%;
         }
      }

      .previous-arrow{
         left: 165px;
         right: unset;

         &:hover{
            content: url('../../assets/button-slider-left-hover.svg');
         }
      }
       
      .next-arrow{
         left: unset;
         right: 165px;
         &:hover{
            content: url('../../assets/button-slider-right-hover.svg');
         }
      }
   
      .maximized-gif-card{
         display: flex;
         flex-direction: column;
         width: 795px;
         position: absolute;
         align-self: center;
         justify-self: center;
         top: 200px;
         
      
         .gifImage{
            width: 795px;
            height: 435px;
            object-fit: contain;
            background-color: $hover-white;
             
         }
         
         .gifDescription{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            
            .gifInformation{
               color: $black-gifos;
               width: 60%;
               
               .gifUser{
                  font-family: $font-medium;
                  margin: 14px 6px 6px 6px;
                  font-size: 12px;
                  
               }
               
               .gifTitle{
                  font-family: $font-medium;
                  margin: 0px 6px 6px 6px;
                  font-size: 16px;
                  
      
               }
            }
            
            .gifButtonContainer{
               width: 40%;
               display: flex;
               justify-content: flex-end;
               .favoriteBtn{
                  margin-right: 20px;
                  cursor: pointer;
                  width: 36px;
                  &:hover{
                     content: url('../../assets/icon-fav-hover.svg')
                  }
               }
               
               .downloadBtn{
                  cursor: pointer;
                  width: 36px;
                  
                  &:hover{
                     content: url('../../assets/icon-download-hover.svg')
                  }
               }
            
            }
      
   
         }
      }
   }
}
