@import 'variables';

.maximize-container{
   display: none;

   .maximized-gif-card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: $test;
      position: relative;
   
      .gifImage{
         
         width: 100%;
         height: 100%;
      }
      
      .hoverGif{
         position: relative;
         background-color: $hover-white;
         width: 100%;
         height: 100%;
         
         .gifButtonContainer{
            padding: 10px;
            .favoriteBtn{
               cursor: pointer;
               
            }
            
            .downloadBtn{
               cursor: pointer;
            
            }
            
            .expandBtn{
               cursor: pointer;
               
            }
         }
   
         .gifInformation{
            color: $purple-gifos;

            .gifUser{
               font-family: $font-medium;
               
               padding: 10px;
            }
            
            .gifTitle{
               font-family: $font-medium;
               
               padding: 10px;
   
            }
         }
      }
   }
}
