
.navbar-section{
   background-color: $white-gifos;
   z-index: 100;

   .blue-bar{

      width: 100%;
      height: 5px;
      background-color: $purple-gifos;
      //Controla los cambios del modo oscuro
      body.dark & {
         background-color: $black-gifos;
      }
       
   }

   .navbar-container{
      display: flex;

      body.dark & {
         background-color: $dark-background;
      }
      
      .home-img-container{
         margin: 29px 0px 17px 22px;
         width:80%;

         .home-img{
            height: 49px;
            width: 56px;
            #home-GIFOS-logo{
               body.dark & {
                  content: url('../../assets/logo-mobile-modo-noct.svg');   
               }
            }
            
         }
      }

      .menu-container{
         
         display: flex;
         align-items: center;
         justify-content: center;
         width:20%;

         #menu-drop{
            display: none;
          }
    
         #menu-drop:checked{
               &~.label-menu{
                  .menu-checker{
                  .btn-burguer{
                     display: none;
                  }
                  .btn-burguerClose{
                     display: block;
                     width: 15px;
                     margin-left: 0px;
                  }
               }
            }
            &~.list-menu-container{
               visibility: visible;
            }
         }

         .label-menu{
            display: flex;
            
            
            .menu-checker{
               width: 15px;
               cursor: pointer;
               
               .btn-burguer{
                  width: 100%;
                  body.dark & {
                     content: url(../../assets/burger-modo-noct.svg);
                  }
                  
               }
               .btn-burguerClose{
                  display: none;
                  height: 30px;
                  margin-top: -8px;
                  margin-left: -8px;
                  body.dark & {
                     content: url(../../assets/close-modo-noct.svg);
                   }  
                
              }
            }
         }
         
         .input-container{
            display: none;
            background-color: $white-gifos;
            border-radius: 25px;
            border: 2px solid $purple-gifos;
            padding: 0px 20px;
            margin: 0 auto;
            width: 90%;
            max-width: 651px;
            max-width: 551px;
      
            .first-row{
               display: flex;
               align-items: center;
               .lookup-searchBtn,
               .lookup-open-suggestion,
               .clear-input{
                  margin: 5px 10px 5px 5px;
                  width: 13px;
                  height: 13px;
                  object-fit: cover;
                  cursor: pointer;
               }
      
               .lookup-searchBtn{
                  order: 1;
                  visibility: hidden;
               }
               .input-search{
                  order: 2;
                  margin: 0px;
                  width: calc(100% - 40px);
                  display: flex;
                  height: 35px;
                  outline: none;
                  color: $dark-green-gifos;
                  background-color: $white-gifos;
                  font-family: $font-regular;
                  font-size: 14px;
                  border: hidden;
                  cursor: pointer;
                  
                  
                  &:focus{
                     color: $black-gifos;
                  }
               }
               .lookup-open-suggestion{
                  order: 3;
                  
               }
               .clear-input{
                  order: 4;
                  width: 10px;
                  height: 10px;
                  display: none;
               }
            }
            .suggestion-division{
               display: none;
            }
      
      
            .sugerencias-container{
               margin: 0px;
               
               
               .suggestion{
                  display: none;
                  height: 30px;
                  align-items: center;
                  width: 100%;
                  font-family: $font-regular;
                  font-size: 14px;
                  cursor: pointer;
                  color: $division-bar;
                  line-height: 19px;
                  
                  .lookup-suggestion{
                     display: flex;
                     width: 12px;
                     height: 12px;
                     margin-left: 10px;
                     
                     .lookup-suggestion-img{
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                     }
      
                  }
      
                  span{
                     margin-left: 10px;
                  }
               }
            }
      
         }


         .list-menu-container{
            z-index: 600;
            visibility: hidden;
            position: absolute;
            padding-top: 7px;
            top: 95px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $menu-purple;
            body.dark & {
               background-color: $black-gifos;
             }

            .list-menu{
                  
                  
               li{
                  margin: 30px auto;
                  display: block;
                  font-family: $font-bold;
                  line-height: 19px;
                  font-size: 15px;
                  text-align: center;       
                  
                  .link-menu{
                     #crear-gif-link{
                        display: inline;

                     }

                     #crear-gif-img{
                        display: none;
                     }
                     span{
                        color: $white-gifos;
                        display: inline-block;
                        padding-bottom: 1px ;
                        border-bottom: 2px solid $menu-purple-transparent;

                        &:hover{
                           border-bottom: 2px solid $green-gifos;
                        }
                        body.dark & {
                           &:hover{
                             border-bottom: 2px solid $white-gifos; 
                           }
                        }
                        
                     }
                  }
               }
            }
            
    
            .link-menu::after{
              content: '';
              position: absolute;
              background-color: $white-gifos-transparent;
              width: 41px;
              height: 0.1px;
              margin-top: 35px;
              left: calc(50% - 20.5px);
            }
    
            .link-menu:hover{
    
              span{
                border-bottom: 2px solid $division-bar;
              }
            }
    
            .link-menu:active{
              color: $division-bar;
              text-decoration: none;
            }
    
          }
      }
   }
}

// TABLET
@media(min-width: 768px){
   
   .navbar-section{
      position: sticky;
      top: 0;
   
      .navbar-container{
         display: flex;
         
         .home-img-container{
            margin: 20px 0px 17px 60px;
            width:20%;
            
            .home-img{
               height: 49px;
               width: 56px;
               
               #home-GIFOS-logo{
                  content: url('../../assets/logo-desktop.svg')
               }
            }
         }
         
         .menu-container{
            
            display: flex;
            align-items: center;
            justify-content: center;
            width:80%;
            
            
            .label-menu{
               display: none;
            }
   
            
            .list-menu-container{
               z-index: 600;
               visibility: visible;
               position: relative;
               padding-top: 7px;
               top: 0px;
               left: 0;
               width: 100%;
               height: 100%;
               background-color: $white-gifos;
               body.dark & {
                  background-color: $dark-background;
               }
               
               
               .list-menu{
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  body.dark & {
                     background-color: $dark-background;
                  }
                  
                  
                  li{
                     margin: 30px;
                     font-family: $font-bold;
                     line-height: 19px;
                     font-size: 15px;
                     text-align: center;
                  
                     
                     .link-menu{
                           
                        span{
                           color: $purple-gifos;
                           display: inline-block;
                           text-transform: uppercase;
                           padding-bottom: 1px ;
                           border-bottom: 2px solid $white-gifos;
                           
                           &:hover{
                              border-bottom: 2px solid $green-gifos-bar;
                           }
                           body.dark & {
                              color: $white-gifos;
                              border-bottom: 2px solid $dark-background;

                              &:hover{
                                border-bottom: 2px solid $white-gifos; 
                              }
                           }
                        }

                        #crear-gif-link{
                           display:none;
                        }
                        #crear-gif-img{
                           display:inline;
                           margin: -15px 40px -15px -15px;
                           body.dark & {
                              content: url('../../assets/CTA-crear-gifo-modo-noc.svg');
                           }
                           &:hover {
                              content: url('../../assets/CTA-crear-gifo-hover.svg');
                              
                              body.dark & {
                                 content: url('../../assets/CTA-crear-gifo-hover-modo-noc.svg');
                              }
                           }
                           &:active {
                              content: url('../../assets/CTA-crear-gifo-active.svg');
                              body.dark & {
                                 content: url('../../assets/CTA-crear-gifo-active-modo-noc.svg');
                              }
                           }
                        }
                     }
                  }
               }
               
       
               .link-menu::after{
                  content: '';
                  position: absolute;
                  background-color: $white-gifos-transparent;
                  width: 41px;
                  height: 0.1px;
                  margin-top: 35px;
                  left: calc(50% - 20.5px);
                  body.dark & { 
                     background-color: $dark-background;
                  }
               }
       
               .link-menu:hover{

                 span{
                     border-bottom: 2px solid $division-bar;
                     body.dark & { 
                        border-bottom: 2px solid $dark-background;
                     }
                 }
                 
               }
       
               .link-menu:active{
                 color: $division-bar;
                 text-decoration: none;
               }
       
             }
         }
      }
   }
}

// DESKTOP
@media(min-width: 1440px){
   .navbar-section{
      position: sticky;
      top: 0;
   
      .navbar-container{
         display: flex;
         
         .home-img-container{
            margin: 20px 0px 17px 60px;
            width:20%;
            
            .home-img{
               height: 49px;
               width: 56px;
               
               #home-GIFOS-logo{
                  content: url('../../assets/logo-desktop.svg')
               }
            }
         }
         
         .menu-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width:80%;
            
            
            .label-menu{
               display: none;
            }
   
            .input-container{
               display: none;
               position: absolute;
               top: 25px;
               right: unset;
               left: 343px;
               z-index: 400 ;
               background-color: $white-gifos;
               border-radius: 25px;
               border: 2px solid $purple-gifos;
               padding: 0px 20px;
               margin: 0 auto;
               width: 90%;
               max-width: 334px;
            
               .first-row{
                  display: flex;
                  align-items: center;
                  width: 100%;
                  .lookup-searchBtn,
                  .lookup-open-suggestion,
                  .clear-input{
                     margin: 5px 10px 5px 5px;
                     width: 13px;
                     height: 13px;
                     object-fit: cover;
                     cursor: pointer;
                  }
            
                  .lookup-searchBtn{
                     order: 1;
                     visibility: hidden;
                  }
                  .input-search{
                     order: 2;
                     margin: 0px;
                     width: calc(100% - 10px);
                     display: flex;
                     height: 35px;
                     outline: none;
                     color: $dark-green-gifos;
                     background-color: $white-gifos;
                     font-family: $font-regular;
                     font-size: 14px;
                     border: hidden;
                     cursor: pointer;
                     
                     
                     &:focus{
                        color: $black-gifos;
                     }
                  }
                  .lookup-open-suggestion{
                     order: 3;
                     
                  }
                  .clear-input{
                     order: 4;
                     width: 10px;
                     height: 10px;
                     display: none;
                  }
               }
               .suggestion-division{
                  display: none;
               }
            
            
               .sugerencias-container{
                  margin: 0px;
                  
                  
                  .suggestion{
                     display: flex;
                     height: 30px;
                     align-items: center;
                     width: 100%;
                     font-family: $font-regular;
                     font-size: 14px;
                     cursor: pointer;
                     color: $division-bar;
                     line-height: 19px;
                     
                     .lookup-suggestion{
                        display: flex;
                        width: 12px;
                        height: 12px;
                        margin-left: 10px;
                        
                        .lookup-suggestion-img{
                           object-fit: cover;
                           height: 100%;
                           width: 100%;
                        }
            
                     }
            
                     span{
                        margin-left: 10px;
                     }
                  }
               }
            
            }
            
            .list-menu-container{
               z-index: 600;
               visibility: visible;
               position: relative;
               padding-top: 7px;
               top: 0px;
               left: 0;
               width: 100%;
               height: 100%;
               background-color: $white-gifos;
               
               
               .list-menu{
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
               
                  
                  li{
                     margin: 30px;
                     font-family: $font-bold;
                     line-height: 19px;
                     font-size: 15px;
                     text-align: center;
                  
                     
                     .link-menu{
                           
                        span{
                           color: $purple-gifos;
                           display: inline-block;
                           text-transform: uppercase;
                           padding-bottom: 1px ;
                           border-bottom: 2px solid $white-gifos;
               
                           &:hover{
                              border-bottom: 2px solid $green-gifos-bar;
                           }
                           
                        }

                        #crear-gif-link{
                           display:none;
                        }
                        #crear-gif-img{
                           display:inline;
                           margin: -15px 40px -15px -15px;
                           &:hover {
                              content: url('../../assets/CTA-crear-gifo-hover.svg')
                           }
                           &:active {
                              content: url('../../assets/CTA-crear-gifo-active.svg')
                           }
                        }
                     }
                  }
               }
               
       
               .link-menu::after{
                 content: '';
                 position: absolute;
                 background-color: $white-gifos-transparent;
                 width: 41px;
                 height: 0.1px;
                 margin-top: 35px;
                 left: calc(50% - 20.5px);
               }
       
               .link-menu:hover{
                 span{
                   border-bottom: 2px solid $division-bar;
                 }
               }
       
               .link-menu:active{
                 color: $division-bar;
                 text-decoration: none;
               }
       
             }
         }
      }
   }
}

