@import 'variables';
* {
   text-decoration:  none;
   margin: 0;
   box-sizing: border-box;
   padding: 0;
   list-style: none;
}

body{
   height: 100vh;
   min-width: 375px;
   background-color: $white-gifos;
}
body.dark {
   background-color: $dark-background;
}