@import 'variables';

.gif-container{

   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 10px;
   grid-auto-rows: minmax(150px, 200px);
   justify-content: center;

   .gif-card{
      display: flex;
      justify-content: center;
      border: $test;
      position: relative;

      .gifImage{
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
      
      .hoverGif{
         position: absolute;
         background-color: $hoverColor;
         width: 100%;
         height: 100%;
         
         .gifButton{
            padding: 10px;
            .favoriteBtn{
               cursor: pointer;
               
            }
            
            .downloadBtn{
               cursor: pointer;
            
            }
            
            .expandBtn{
               cursor: pointer;
               
            }
         }

         .gifInformation{
            .gifUser{
               font-family: $font-medium;
               color: $white-gifos;
               padding: 10px;
            }
            
            .gifTitle{
               font-family: $font-medium;
               color: $white-gifos;
               padding: 10px;

            }
         }
      }
   }
}
