$hoverColor: rgba(87,46,229,0.7);
$hover-white: rgba(255, 255, 255, 0.7);
$menu-purple: rgba(87,46,229,0.9);
$menu-purple-transparent: rgba(87,46,229,0.1);
$white-gifos: #FFFFFF;
$white-gifos-transparent: rgba(256,256,256,0.90);
$purple-gifos: #572EE5;
$black-gifos: #000000;
$green-gifos: #50E3C2;
$green-gifos-bar: #5ED7C6;
$dark-green-gifos: #6B7989;
$division-bar: #9CAFC3;
$dark-background: #37383C;
$dark-background-trending: #222326;
$trending-background: #F3F5F8;



//Font-family
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-bold: 'Montserrat';
$font-medium: 'Montserrat';
$font-regular: 'Roboto';




$test: 2px solid red;


//Registro del Z index

// navbar link -> 100
//Mazimized gif -> 200
//Input container nav -> 400
