$hoverColor: rgba(87,46,229,0.7);
$white-gifos: #FFFFFF;
$purple-gifos: #572EE5;


//Font-family
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-bold: 'Montserrat';
$font-medium: 'Montserrat';
$font-regular: 'Roboto';




$test: 2px solid red;